.tree,
.tree ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  white-space: nowrap;
  margin: 0 0 0.28em;
}

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #000000;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #000000;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid #000000;

  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.node-container {
  position: relative;
}
.vertical-divider-bg {
  top: 30px;
  right: 50%;
  position: absolute!important;
}
.vertical-divider-sm {
  top: 20px;
  right: 50%;
  position: absolute!important;
}

.nodeSpan {
  margin: 8px;
  display: inline-block;
  background: #927fa3;
  border-radius: 5px;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  font-family: barlow;
  font-weight: 400;

}



.level-1 {
  background-color: #e3d6f0;
  min-width: 185px;
}

.level-2 {
  background-color: #e3d6f0;
}

.first-level-container {
  background-color: #e3d6f0;
}

.first-level-container>li>div {
  background-color: transparent;
}