
.tree,
.tree ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  white-space: nowrap;
  margin: 0 0 1em;
}

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px dotted #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px dotted #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px dotted #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.nodeSpan {
  margin: 15px;
  display: inline-block;
  background: #F0F0F0;
  border-radius: 5px;
  padding: 4px;
  border-bottom: 1px dotted #ccc;
}
