::ng-deep .mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 16px;
    background-color:  rgba(120, 106, 205, 0.16);
    font-family: Barlow;
  }
  
  .mat-mdc-card {
    --mdc-elevated-card-container-color: rgba(120, 106, 205, 0.04);
    --mdc-elevated-card-container-elevation: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --mdc-outlined-card-container-color: white;
    --mdc-outlined-card-outline-color: rgba(0, 0, 0, 0.12);
    --mdc-outlined-card-container-elevation: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    --mat-card-subtitle-text-color: rgba(0, 0, 0, 0.54);
    max-height: 250px;
  }

  

  .mat-mdc-card-content {
    display: block;
    padding: 0 16px;
    overflow-x: auto;
    overflow-y: auto;
}

.structure-card{
  min-height: 248px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: auto;
}


.tree-container {
  transform-origin: 0 0;
  transition: transform 0.3s; 
}
.full-screen-content-container{
  padding: 0 50px;
}
.zoom-controls {
  margin-bottom: -5px;
  display: flex-end;
}

.zoom-controls button {
  margin-right: 0px;
}
