

   
   <section class="example-container" >
   <table mat-table [dataSource]="dataSource"  >

    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element">  
       <p class="applicability-text"> {{element.serialNumber}}</p>
      </td>
    </ng-container>


    
    <ng-container matColumnDef="lawName">
        <th mat-header-cell *matHeaderCellDef> Name of the LAW </th>
        <td mat-cell *matCellDef="let element">
          <div style="margin: 0;">{{ element.lawName }}</div>
          <p style="margin: 0;">
            <button mat-button class="read-with-button"
             (click)="openDialog()">Read More</button>
          </p>
         
        </td>
      </ng-container>
      
   
     
      <ng-container matColumnDef="applicability">
        <th mat-header-cell *matHeaderCellDef> Applicability </th>
        <td mat-cell *matCellDef="let element">
          <div class="applicability-container">
            <img [src]="getImageSource(element)" alt="Applicability Icon" class="applicability-icon">
            <p class="applicability-text">{{element.applicability}}</p>
          </div>
        </td>
      </ng-container>
      
      
    

 

      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef> Module </th>
        <td mat-cell *matCellDef="let element">  
         <p class="applicability-text"> {{element.module}}</p>
        </td>
      </ng-container>
  
   
   
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
</section>