<div class="laws-table">
  <div class="example-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef>
          <p class="text_12_700_gray_100">#</p>
        </th>
        <td mat-cell *matCellDef="let element">
          <p class="text_12_700_gray_100">
            {{ element.serialNumber }}
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="lawName">
        <th mat-header-cell *matHeaderCellDef>
          <p class="text_12_700_gray_100">Name of the LAW</p>
        </th>
        <td mat-cell *matCellDef="let element">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div style="margin: 0">
              <div *ngFor="let law of element.lawName; let i = index">
                <div>
                  <p class="text_12_700_gray_100">
                    {{ law.name }}
                  </p>
                </div>

                <div *ngIf="i !== element.lawName.length - 1">
                  <a>
                    <p class="text_12_400_gray_1000_responsive">Read With</p>
                  </a>
                </div>
              </div>
            </div>

            <img src="./assets/images/icons/VectorReadWith.svg" alt="icon" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="applicability">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <p class="text_12_700_gray_100">Applicability</p>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="applicability_icon_container">
            <img
              [src]="getImageSource(element)"
              alt="Applicability Icon"
              class="applicability-icon"
            />
          </div>
          <div class="app-icon-text-gap">
            <p class="text_12_400_gray_1000_responsive applicability-text">
              {{ element.applicability }}
            </p>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <p class="text_12_700_gray_100">Module</p>
        </th>
        <td mat-cell *matCellDef="let element">
          <p class="text_12_400_gray_1000_responsive applicability-text">
            {{ element.module }}
          </p>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
