/* .example-container table th {
    background-color: rgba(120, 106, 205, 0.16);
    font-family: Barlow;
   
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;
    text-align: left;
    width: 40px;

  }

 
  .example-container table tr>td:nth-child(1) {
    width: fit-content;
  }


  .example-container table th:nth-child(2) {
    text-align: center;
  }

  .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
    background:white;
}

 

.mat-column-serialNumber {
 
  width: 10px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family:Barlow ;
}


.mat-column-lawName {
 

  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family:Barlow ;
}

.mat-column-applicability {
  padding-left: 0px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family:Barlow ;
}

.mat-column-applicability {
  padding-left: 0px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family:Barlow ;
}

.applicability-text {
 font-size: 12px;
 line-height: 14.4px;
 font-weight: 400;
 font-family: Barlow;
}



.read-with-button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Barlow));
  font-size: var(--mdc-typography-body2-font-size, 12px);
  line-height: var(--mdc-typography-body2-line-height, 14.4px);
  font-weight: var(--mdc-typography-body2-font-weight, 400);
  letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
  -webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-decoration: underline;
  text-transform: var(--mdc-typography-body2-text-transform, none);
} */

/* .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 250px 0 16px;
} */

/* 
  .applicability-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  } */

/* .applicability-icon {
    margin-bottom: 5px; 
  }
  
  .applicability-text {
    margin: 0;
  }
   */

/* 
   .applicability-container {
    text-align: center;
  }
  
  .applicability-icon {
    display: block;
    margin: 0 auto;
  } */

.table-container {
  max-height: 400px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Optional: Hide horizontal scrolling */
}

.applicability-text {
  text-align: center;
}
