<div
  *ngIf="headerRequired"
  [ngClass]="{
    'card-header-purple-dark': shade === 'dark',
    'card-header-purple-light': shade === 'light',
    'card-header-purple-medium': shade === 'medium'
  }"
  [ngStyle]="
    isCrossRequired ? { display: 'flex', 'justify-content': 'end' } : {}
  "
>
  <img *ngIf="cardHeaderImage" [src]="cardHeaderImage" alt="" srcset="" />
  <div
    [ngClass]="
      shade === 'dark'
        ? 'card-name text_12_700_gray_600'
        : 'card-name text_12_700_gray_1000'
    "
  >
    {{ cardHeaderTitle }}
  </div>
  <button
    *ngIf="isCrossRequired"
    (click)="handleCloseDialog()"
    class="invisible-border-button"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div
  [ngClass]="
    shade === 'dark'
      ? 'card-content-container-dark'
      : 'card-content-container-light'
  "
>
  <ng-content></ng-content>
</div>
