.mat-header-row {
    /* height: 35px;  */
    background-color:#F0F0F0; 
  }
  
  .mat-header-cell{
    color:black;
  }
  
  .opUnit-details-container{
    padding: 20px;    
  }

  .opUnit-details-table{
    min-height: 248px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  .opUnit-add-and-back-button-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .opUnit-add-button{
    height: 40px; 
    width: 130px;
  }

  .opUnit-back-button{
    height: 40px; 
    width: 130px;

  }
  
  .opUnit-table-button{
    height: 40px; 
    width:50px
  }

  .received-entity-details{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  }

::ng-deep .mat-mdc-table tfoot, .mat-mdc-table thead,
  .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-footer-row, 
  .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    background-color: rgba(120, 106, 205, 0.04);
}

::ng-deep .opUnit-details-table table th {
  color: rgba(88, 89, 91, 1);
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: left;
}

.opUnit-details-table table td{
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;

}


.invisible-border-button {
  border: none; /* Remove the border */
  background: none; /* Remove any background */
  padding: 0; /* Optional: Remove any padding */
  margin: 0; /* Optional: Remove any margin */
  cursor: pointer; /* Optional: Change cursor to pointer */
}

.dark-brown-icon {
  color: rgba(120, 106, 205, 1); 
  font-size: 20px;
}