.mat-header-row {
    height: 35px; 
    background-color:#F0F0F0; 
  }
  
  .mat-header-cell{
    color:black;
  }
  
  .opUnit-details-container{
    padding: 20px;    
  }

  .opUnit-details-table{
    min-height: 248px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  .opUnit-add-and-back-button-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .opUnit-add-button{
    height: 40px; 
    width: 130px;
  }

  .opUnit-back-button{
    height: 40px; 
    width: 130px;

  }
  
  .opUnit-table-button{
    height: 40px; 
    width:50px
  }

  .received-entity-details{
    /* margin-top: 10px; */
    margin-bottom: 10px;
    display: flex;
  }

 