<mat-card class="opUnit-details-container">
  <div class="opUnit-top-details">
    <div class="received-entity-details">
      {{entity.name}} &nbsp;>>&nbsp; Operating Unit
    </div>

    <div class="opUnit-add-and-back-button-container">
      <button class="opUnit-back-button" (click)="navigateBackToEntityDetailsPage()">
        Back
      </button>

      <button class="opUnit-add-button" (click)="openEntityDialog()">
        Add New
      </button>
    </div>
  </div>
  
    <div class="opUnit-details-table">
      
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">SL</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td> 
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td> 
      </ng-container>

  
      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Industry</th>
        <td mat-cell *matCellDef="let element">{{element.industry}}</td> 
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Type</th>
        <td mat-cell *matCellDef="let element">{{element.type}}</td> 
      </ng-container>
  
      <ng-container matColumnDef="emailID">
        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Email ID</th>
        <td mat-cell *matCellDef="let element">{{element.emailID}}</td> 
      </ng-container>
  
      <ng-container matColumnDef="laws">
        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Laws</th>
        <td mat-cell *matCellDef="let element">
          <button class="opUnit-table-button"
          (click)="openLawDialog()"
          >
            Show
          </button>
        </td>
      </ng-container>
  
     
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef >Department</th>
        <td mat-cell *matCellDef="let element">
          <button class="opUnit-table-button"
          (click)="openLawDialog()"
          >
            Show
          </button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let element">
          <!-- <button class="opUnit-table-button"> -->
  
              <!-- <button mat-menu-item (click)="openopUnitMenuDialog()">
                <mat-icon>more_horiz</mat-icon>
              </button> -->
  
              <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>
                <mat-icon>more_horiz</mat-icon>
              </button>
              <!-- (click)="openopUnitMenuDialog('Add Operating Unit',element.position)" -->
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openopUnitMenuDialog('Add Department',element.position)">Add Department</button>
                <button mat-menu-item (click)="openopUnitMenuDialog('Edit',element.position)">Edit</button>
                <button mat-menu-item (click)="openopUnitMenuDialog('Delete',element.position)">Delete</button>
              </mat-menu>
  
        </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="laws">
        <th mat-header-cell *matHeaderCellDef>Laws</th>
        <button mat-flat-button color="primary">Add</button>
      </ng-container>
  
      <ng-container matColumnDef="operatingUnit">
        <th mat-header-cell *matHeaderCellDef>Operating Unit</th>
        <button mat-flat-button color="primary">Add</button>
      </ng-container> -->
  
      <!-- <button mat-flat-button color="primary">Add</button> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </mat-card>