<!-- <app-stepper [currentStep]="0"> </app-stepper>

<div class="entity-details-page-business-card-container"> 
<app-stepper-helper-text [currentStep]="1" [subStep]="1"></app-stepper-helper-text>
<app-business-card></app-business-card>
</div>

<mat-divider></mat-divider>
<app-entity-table> </app-entity-table> -->
<div class="container entity-details-page-container">


<div class="row">
    <div class="col">
    <app-stepper [currentStep]="0"> </app-stepper>
    </div>
</div>

<div class="row app-business-card-container">
    <div class="col-8">
    <app-stepper-helper-text [currentStep]="1" [subStep]="1"></app-stepper-helper-text>
    </div>
    <div class="col">
    <!-- <app-business-card></app-business-card> -->
    <!-- <p>Test</p> -->
    </div>
</div>


<mat-divider> </mat-divider>

<div class="row entity-details-page-entiy-section" >
  <div class="col-8">
    <app-entity-table> </app-entity-table>
  </div>

  <div class="col-3">
  <!-- <app-tree-structure> </app-tree-structure> -->
  
  <mat-card class="example-card">
    <h4>Company Structure</h4>
    <app-tree-structure [rootNode]="treeDataItem"></app-tree-structure>
    <!-- <mat-card-header> -->
      <!-- <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <!-- </mat-card-header> -->
    <!-- <img mat-card-image src="" alt="Tree Structure">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  </div>
</div>

<div class="row entity-details-next-button-div">
    <div class="col-12">
    <button class="entity-details-next-button"> Next </button>
    </div>
</div>

</div>
