.app-business-card-container{
    margin-bottom: 10px;
}

.entity-details-page-container{
    margin: 20px;
}

.entity-details-next-button{
    height:40px;
    width: 130px;
}

.entity-details-next-button-div{
    margin-top: 10px;
    margin-left:4px

}

.entity-details-page-entity-section{
    margin-top:10px;
}

