<div class="row entity-details-page-entity-section">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <app-table-add-header [path]="['Entities']" [buttonName]="'Add New Entity'">
    </app-table-add-header>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <app-entity-table
          [entityTypesList]="entityTypesList"
          [industryTypesList]="industryTypesList"
          [lawCategoriesList]="lawCategoriesList"
          [countryList]="countryList"
          (entitySelected)="handleEntitySelected($event)"
        >
        </app-entity-table>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>Company Structure</mat-card-header>
          <mat-card-content>
            <app-tree-structure [rootNode]="treeDataItem"></app-tree-structure>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-12" style="margin-top: 25px">
    <button mat-stroked-button (click)="goToSubscription()">
      <mat-icon>keyboard_arrow_right</mat-icon>Next
    </button>
  </div>
</div>
