<div class="compliance-section contain_bg_36_br_16">
    <div class="compliance-section__left">
        <span class="text_25_700">
            Get
        </span>
        <span class="text_56_800">
            Compliance
        </span>
        <span class="text_25_700">
            Online
        </span>
    </div>
    <div class="compliance-section__middle">
        <p class="text_24_400_dark">Simple, fast and inexpensive for SMEs looking to compete with the best.</p>
    </div>
    <div class="compliance-section__right">
        <img class="group_image" src="assets/images/Group_13.png">
        <button class="btn-secondary" (click)="goToRegistrationPage($event)">Get started for Free </button>
    </div>
</div>