.compliance-section {
  display: flex;
  padding: 4.41% 4.71%;
  // width: 720px; // to do make this width responsive
  width: 56.25vw;
  //height: 264px;
  &__left,
  &__middle,
  &__right {
    width: 17.5vw;
    font-size: 1rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    word-break: break-word;
  }

  // &__middle {
  //   display: flex;
  //   align-items: flex-end;
  // }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .group_image {
      width: 5.3vw;
    }
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    &__left {
      width: 50vw; // Specific width for __left on smaller screens
    }

    &__middle,
    &__right {
      width: 30vw;
      margin: 0 1vw;
      font-size: 0.9rem;
    }
  }

  @media (min-width: 1280px) {
    &__left {
      width: 50vw; // Specific width for __left on larger screens
    }
    &__middle,
    &__right {
      width: 30vw;
      margin: 0 1vw;
      font-size: 1rem;
    }
  }
}
