@import '../../../../assets/styles/variable.scss';

.mat-header-row {
  height: 35px;
  /* Set the desired height */
  background-color: #F0F0F0;
  /* Set the background color */
}

.mat-header-cell {
  color: black;
}

.entity-details-container {
  padding: 20px;
}

.entity-details-table {
  min-height: 248px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: auto;
}

.entity-add-button-container {
  margin-bottom: 20px;
}

.entity-add-button {
  height: 40px;
  width: 130px;
}

.entity-table-button {
  height: 40px;
  width: 50px
}

.entity-label {
  margin-bottom: 10px;
}

.entity-form {
  width: 100%;
}

.entity-form-field {
  width: 100%
}

.dialog-button {
  height: 30px;
  width: 60px;
}

.entity-dialog {
  width: $w440px;
}

.dark-brown-icon {
  color: rgba(120, 106, 205, 1); 
  font-size: 20px;
}


.entity-details-table table th {
  background-color: rgba(120, 106, 205, 0.04);
  color: black;
  font-family: Barlow;
font-size: 12px;
font-weight: 700;
line-height: 14.4px;
text-align: left;
}

.entity-details-table .mdc-data-table__cell, .mdc-data-table__header-cell {
  border-bottom-color:rgba(120, 106, 205, 0.04);
}


/* .entity-details-table  .mat-header-cell[_ngcontent-ng-c4013717579] {
  color: rgba(88, 89, 91, 1);
  font-family: Barlow;
font-size: 12px;
font-weight: 700;
line-height: 14.4px;
text-align: left;

} */

.entity-details-table table td{
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;

}

::ng-deep .mat-mdc-table tfoot, .mat-mdc-table thead,
  .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-footer-row, 
  .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    background-color: rgba(120, 106, 205, 0.04);
}


.entity-table .mat-mdc-card {
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: var(--mdc-elevated-card-container-color);
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color);
  
  --mdc-elevated-card-container-shape: 4px;
  --mdc-outlined-card-container-shape: 4px;
  --mdc-outlined-card-outline-width: 1px;
}