@import '../../../../assets/styles/variable.scss';

.mat-header-row {
  height: 35px;
  /* Set the desired height */
  background-color: #F0F0F0;
  /* Set the background color */
}

.mat-header-cell {
  color: black;
}

.entity-details-container {
  padding: 20px;
}

.entity-details-table {
  min-height: 248px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: auto;
}

.entity-add-button-container {
  margin-bottom: 20px;
}

.entity-add-button {
  height: 40px;
  width: 130px;
}

.entity-table-button {
  height: 40px;
  width: 50px
}

.entity-label {
  margin-bottom: 10px;
}

.entity-form {
  width: 100%;
}

.entity-form-field {
  width: 100%
}

.dialog-button {
  height: 30px;
  width: 60px;
}

.entity-dialog {
  width: $w440px;
}

.dark-brown-icon {
  color: rgba(120, 106, 205, 1); 
  font-size: 20px;
}


.entity-details-table table th {
  background-color: rgba(120, 106, 205, 0.04);
  color: black;
  font-family: Barlow;
font-size: 12px;
font-weight: 700;
line-height: 14.4px;
text-align: left;
}

.entity-details-table .mdc-data-table__cell, .mdc-data-table__header-cell {
  border-bottom-color:rgba(120, 106, 205, 0.04);
}


/* .entity-details-table  .mat-header-cell[_ngcontent-ng-c4013717579] {
  color: rgba(88, 89, 91, 1);
  font-family: Barlow;
font-size: 12px;
font-weight: 700;
line-height: 14.4px;
text-align: left;

} */

.entity-details-table table td{
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;

}

::ng-deep .mat-mdc-table tfoot, .mat-mdc-table thead,
  .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-footer-row, 
  .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    background-color: rgba(120, 106, 205, 0.04);
}


.entity-table .mat-mdc-card {
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: var(--mdc-elevated-card-container-color);
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color);
  
  --mdc-elevated-card-container-shape: 4px;
  --mdc-outlined-card-container-shape: 4px;
  --mdc-outlined-card-outline-width: 1px;
}



// ::ng-deep .badge-button {
//   position: relative;
//   padding: 0;
//   display: flex; 
//   justify-content: center;
//   align-items: center;
// }

// ::ng-deep .mat-badge-content {
//   position: absolute;
//   top: -10px;
//   right: -10px; 
// }

// .operating-unit-img {
//   width: 16px;
//   height: 16px; 
  
//   display: block;
// }



// .mat-mdc-icon-button {
//   height: var(--mdc-icon-button-state-layer-size);
//   width: var(--mdc-icon-button-state-layer-size);
//   color: var(--mdc-icon-button-icon-color);
//   --mdc-icon-button-state-layer-size: 48px;
//   --mdc-icon-button-icon-size: 18px;
//   --mdc-icon-button-disabled-icon-color: black;
//   --mdc-icon-button-disabled-icon-opacity: 2.38;
// }

.invisible-border-button {
  border: none; 
  background: none; 
  padding: 0; 
  margin: 0;
  cursor: pointer;
}

.field-serial-no {
  margin:0 1vw;
}


// @media (max-width: 320px) {
//   .cdk-overlay-pane {
//     width:80vw;
//   }
//   .entity-dialog[_ngcontent-ng-c2140218817] {
//     width: 75vw;
// }
// }

// @media (max-width: 375px) {
//   .cdk-overlay-pane {
//     width:80vw;
//   }
//   .entity-dialog[_ngcontent-ng-c2140218817] {
//     width: 75vw;
// }
// }

// @media (max-width: 575.98px) {
//   .cdk-overlay-pane {
//     width:80vw;
//   }
//   .entity-dialog[_ngcontent-ng-c2140218817] {
//     width: 82.375vw;
// }
// }


// @media (min-width: 768px) {
//   .cdk-overlay-pane {
//     width: 80vw;
//   }

//   .entity-dialog[_ngcontent-ng-c2140218817] {
//     width: 45vw;  
//   }
  
// }

// @media (min-width: 992px) {
//   .cdk-overlay-pane {
//     width:35vw;
//   }

//   .entity-dialog[_ngcontent-ng-c2140218817] {
//     width: 34.375vw;  
//   }
// }

/* Extra small devices (portrait phones, less than 576px) */
// @media (max-width: 575.98px) {
//   .cdk-overlay-pane {
//     width: 80vw;
//   }
//   .entity-dialog {
//     width: 75vw;
//   }
// }

/* Small devices (landscape phones, 576px and up) */
// @media (min-width: 576px) and (max-width: 767.98px) {
//   .cdk-overlay-pane {
//     width: 80vw;
//   }
//   .entity-dialog {
//     width: 75vw;
//   }
// }

/* Medium devices (tablets, 768px and up) */
// @media (min-width: 768px) {
//   .cdk-overlay-pane {
//     width: 80vw;
//   }
//   .entity-dialog {
//     width: 45vw;
//   }
// }

/* Large devices (desktops, 992px and up) */
// @media (min-width: 992px) {
//   .cdk-overlay-pane {
//     width: 35vw;
//   }
//   .entity-dialog {
//     width: 34.375vw;
//   }
// }