.mat-header-row {
  height: 35px;

  background-color: #f0f0f0;
}

.mat-header-cell {
  color: black;
}

.entity-details-container {
  padding: 20px;
}

.entity-details-table {
  max-height: 251px;
  overflow-y: auto;
  overflow-x: auto;
}

.entity-add-button-container {
  margin-bottom: 20px;
}

.entity-add-button {
  height: 40px;
  width: 130px;
}

.entity-table-button {
  height: 40px;
  width: 50px;
}

.entity-label {
  margin-bottom: 10px;
}

.entity-form {
  width: 100%;
}

.entity-form-field {
  width: 100%;
}

.dialog-button {
  height: 30px;
  width: 60px;
}

.entity-dialog {
  width: 400px;
}
@media (max-width: 2560px) and (min-width: 1441px) {
  .entity-dialog {
    width: 800px;
  }
}

.dark-brown-icon {
  color: rgba(120, 106, 205, 1);
  font-size: 20px;
}

.entity-details-table table th {
  background-color: rgba(120, 106, 205, 0.04);
  color: black;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: left;
}

.entity-details-table .mdc-data-table__cell,
.mdc-data-table__header-cell {
  border-bottom-color: rgba(120, 106, 205, 0.04);
}

.entity-details-table table td {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
}

::ng-deep .mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  background-color: rgba(120, 106, 205, 0.04);
}

.entity-table .mat-mdc-card {
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: var(--mdc-elevated-card-container-color);
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color);

  --mdc-elevated-card-container-shape: 4px;
  --mdc-outlined-card-container-shape: 4px;
  --mdc-outlined-card-outline-width: 1px;
}

.invisible-border-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.field-serial-no {
  margin: 12px 1vw;
}

.custom-badge .mat-badge-content {
  background-color: #0073a5;

  color: white;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  white-space: normal;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  margin-right: auto;
  font-family: "Barlow";
}

::ng-deep .mdc-list-item {
  padding: 8px !important;
}
.action-button-container {
  margin-left: 40px;
  margin-bottom: 20px;
}
