


<mat-card class="entity-details-container">
  <!-- <div class="entity-label">
    <h4>Entities</h4>
  </div> -->


  <div class="entity-add-button-container">
      <button (click)="viewAddEntityDialog()" class="entity-add-button">
        Add New
      </button>
  </div>

  <div>
    
  <div class="entity-details-table">
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">SL</th>
      <td mat-cell *matCellDef="let element">{{element.position}}</td> 
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td> 
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Country</th>
      <td mat-cell *matCellDef="let element">{{element.countryLabel}}</td> 
    </ng-container>

    <ng-container matColumnDef="industry">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Industry</th>
      <td mat-cell *matCellDef="let element">{{element.industryLabel}}</td> 
    </ng-container>

    <ng-container matColumnDef="entityType">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Type</th>
      <td mat-cell *matCellDef="let element">{{element.entityTypeLabel}}</td> 
    </ng-container>

    <ng-container matColumnDef="emailID">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Email ID</th>
      <td mat-cell *matCellDef="let element">{{element.emailID}}</td> 
    </ng-container>

    <ng-container matColumnDef="laws">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Laws</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
        (click)="openLawDialog()"
        >
        <img src="./assets/images/icons/VectorLawa_Icon.png" width="12" height="12">
        </button>
      </td>
    </ng-container>

   
    <ng-container matColumnDef="operatingUnit">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Operating Unit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
        (click)="openOpDialog()"
        >
        <img src="./assets/images/icons/Vectoroperating_unit_Icon.png" width="12" height="12">
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
              <mat-icon  class="dark-brown-icon">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEntityMenuDialog('Add Operating Unit',element.position)">Add Operating Unit</button>
              <button mat-menu-item (click)="openEntityMenuDialog('Edit',element.position)">Edit</button>
              <button mat-menu-item (click)="openEntityMenuDialog('Delete',element.position)">Delete</button>
            </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  </div>
</mat-card>