.initial-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    width: 13vw;
    img {
      width: 100%;
      min-width: 87.16px;
    }
  }

  .page-link-container {
    display: flex;
    margin: 0 10%;
    column-gap: 68px;

    .link-item {
      cursor: pointer;
      font-family: "Barlow";
      text-wrap: nowrap;
    }

    .link-item.selected {
      color: #fff!important;
    }
  }

  // Media Queries
  @media (max-width: 1024px) {
    .logo-container {
      width: 10vw; 
    }

    .page-link-container {
      margin: 0 5%;
      column-gap: 48px; 
    }
  }

  @media (max-width: 768px) {
    .logo-container {
      width: 5vw; 
    }

    .page-link-container {
      margin: 0 5%;
      column-gap: 16px;
    }
    
  }
}
