.initial-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    width: 13vw;
    img {
      width: 100%;
      min-width: 87.16px;
    }
  }

  .page-link-container {
    display: flex;
    margin: 0 10%;
    column-gap: 68px;

    .link-item {
      cursor: pointer;
      font-family: "Barlow";
      text-wrap: nowrap;
    }

    .selected {
      color: #fff;
    }
  }
}
