<!-- <div class="entity-table-header">
  <div class="entities-layout">
    <p class="route-name">
      <ng-container *ngFor="let segment of path; let i = index">
        <span
          [ngClass]="i === 0 ? 'entities-typography' : 'path-layout-typography'"
          >{{ segment }}</span
        >
        <span *ngIf="i < path.length - 1" class="separator"> &gt;&gt; </span>
      </ng-container>
    </p>
  </div>

  <div class="button-container">
    <button
      mat-stroked-button
      class="btn-primary-outline-md"
      (click)="emitAddNewEntity()"
    >
      <mat-icon>add</mat-icon>
      <p class="btn-name-style">{{ buttonName }}</p>
    </button>
  </div>
</div> -->

<div class="entity-table-header">
  <div class="entities-layout">
    <p class="route-name">
      <ng-container *ngFor="let segment of path; let i = index">
        <span
          [ngClass]="i === 0 ? 'entities-typography' : 'path-layout-typography'"
          >{{ segment }}</span
        >
        <span *ngIf="i < path.length - 1" class="separator"> &gt;&gt; </span>
      </ng-container>
    </p>
  </div>

  <div class="button-container" *ngIf="buttonName || secondButtonName">
    <button
      mat-stroked-button
      class="btn-primary-outline-md"
      (click)="onAddNewUserClick()"
    >
      <p class="btn-name-style-add-new-user">
        <img src="./assets/images/icons/Icons - Lex Kom LiteAddUser.svg" />
        {{ secondButtonName }}
      </p>
    </button>

    <button
      mat-stroked-button
      class="btn-primary-outline-md"
      (click)="emitAddNewEntity()"
    >
      <mat-icon>add</mat-icon>
      <p class="btn-name-style-add-new-user">{{ buttonName }}</p>
    </button>
  </div>
</div>
