.entity-table-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
  margin-bottom: -8px;
}

.entities-layout {
  display: flex;
  flex-wrap: wrap;
}

// .route-name {
//   display: flex;
//   flex-wrap: wrap;
// }

.separator {
  margin: 0 5px;
  vertical-align: middle;
}

// .button-container {
//   display: flex;
//   justify-content: flex-end;
// }

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px; /* Adjust the value as needed for the desired spacing */
}

.path-layout-typography {
  text-align: left;
  margin-top: 6px;
}
.entities-typography {
  font-family: Barlow;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #786acd;
}

@media (max-width: 768px) {
  .entity-table-header {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .button-container {
    justify-content: center;
  }
}

.btn-name-style-add-new-user {
  // font-size: 12px !important;
  // font-family: Barlow;
  // font-weight: 400px;
  // line-height: 14.4px;
  display: flex;
  align-items: center;
}

// @media (max-width: 2560px) and (min-width: 1441px) {
//   .btn-name-style {
//     font-size: calc(
//       var(--base-unit-4k) * var(--scale-button-font-size)
//     ) !important;
//     font-family: Barlow;
//     font-weight: 400px;
//     line-height: 14.4px;
//   }
// }
