// .entity-table-header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0px;

// }



// .button-container {
//   flex: 0 0 auto;
// }

// .entities-typography {
//   font-family: Barlow;
//   font-size: 24px;
//   font-weight: 400;
//   line-height: 28.8px;
//   text-align: left;
//   color: #786acd;
// }
// .separator {
//   margin: 0 5px;
// }

// .route-name {
//   display: flex;
 
// }

// .path-layout{
//   width: 64px;
//   height: 14px;
//   top: 420px;
//   left: 304px;
//   gap: 0px;
//   opacity: 0px;

// }

// .path-layout-typography{
//   font-family: Barlow;
//   font-size: 12px;
//   font-weight: 400;
//   line-height: 14.4px;
//   text-align: left;

// }

// .entities-layout {
//   width: 82px;
//   height: 29px;
//   top: 408px;
//   left: 168px;
//   gap: 0px;
//   opacity: 0px;
// }


.entity-table-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}

.entities-layout {
  display: flex;
  flex-wrap: wrap;


}

.route-name {
  display: flex;
  flex-wrap: wrap;
}

// .separator {
//   margin: 0 5px;
// }
.separator {
  margin: 0 5px;
  vertical-align: middle; /* Align middle relative to surrounding text */
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.path-layout-typography{
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  margin-top: 6px; 

}
.entities-typography {
  font-family: Barlow;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #786acd;
}


@media (max-width: 768px) {
  .entity-table-header {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .button-container {
    justify-content: center;
  }
}
