.mat-mdc-card {
  box-shadow: none;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100vh;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 0px;
}

.mat-card-title {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.back-button {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100vh;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 0px;
}

.mat-card-title {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.back-button {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

   .example-button-row {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
   }


  
  
  
  
   .verify-email-id {
    width: 199px;
    height: 29px;
    top: 136px;
    left: 38px;
    gap: 0px;
    opacity: 0px;
  
   }
  
  
  .verify-email-id-typography{
   font-family: Barlow;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #786ACD;
  ;
  }
  
  
  .verify-email-button{
    background-color: #786ACD; /* Change this to your desired color */
    color: white; /* Text color */
    
  }

  .verify-email-div{
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .verify-email-typography{
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;
    text-align: left;
    color: #786ACD;
  }
 
  
  
  .mat-mdc-text-field-wrapper{
    background-color: #F4F4F4 !important;
    padding: 8px;
    border-radius: 0px;
    font-size: 16px;
    border-color: #C0C0C0;
  }
  
  
  
  
  
  
  
  
  
  .mat-form-field-appearance-outline.mat-focused {
    /* Your custom CSS styles here */
    /* For example: */
    box-shadow: 0 0 5px white; /* Change the box-shadow color when focused */
  }
  
  /* .mat-mdc-raised-button.mat-warn {
    --mdc-protected-button-container-color: #786ACD;
    --mdc-protected-button-label-text-color: #fff;
    text-decoration: none;
  } */


  
  /* .mat-mdc-outlined-button {
    --mdc-outlined-button-outline-color: #786ACD;
}

.mat-mdc-outlined-button.mat-unthemed {
  --mdc-outlined-button-label-text-color: #786ACD;
} */


.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: #786acd;
}
