<form>
  <div class="">
    <div class="row mb-14px">
      <div class="col-5"></div>
      <div class="col-2">
        <p class="text_12_500_gray_1200 ml-16px">Males</p>
      </div>
      <div class="col-2">
        <p class="text_12_500_gray_1200 ml-16px">Females</p>
      </div>
      <div class="col-2">
        <p class="text_12_500_gray_1200 ml-16px">Others</p>
      </div>
    </div>
    <div *ngFor="let header of header_list; let i = index" class="row my-4">
      <div class="col-5">
        <p class="emp_input_label text_12_400_gray_1200">
          {{ header }}
        </p>
      </div>
      <div class="col-2">
        <mat-form-field class="emp_input square_input_box" appearance="outline">
          <input
            matInput
            [(ngModel)]="employeeData[i].male"
            name="male{{ i }}"
            type="number"
            (input)="onInputChange()"
            class="custom-input"
          />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="emp_input square_input_box" appearance="outline">
          <input
            matInput
            [(ngModel)]="employeeData[i].female"
            name="female{{ i }}"
            type="number"
            (input)="onInputChange()"
            class="custom-input"
          />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="emp_input square_input_box" appearance="outline">
          <input
          matInput
          type="number"
          (input)="onInputChange()"
          class="custom-input"
        />
        </mat-form-field>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="row my-4">
      <div class="col-5"></div>
      <div class="col-2">
        <p class="text_12_500_gray_1200 ml-16px">Apprentices</p>
      </div>
      <div class="col-2">
        <p class="text_12_500_gray_1200 ml-16px">Child Labourers</p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p class="emp_input_label text_12_400_gray_1200">Others</p>
      </div>
      <div class="col-2">
        <mat-form-field class="emp_input square_input_box" appearance="outline">
          <input
            matInput
            name="others"
            type="number"
            [(ngModel)]="apprenticesCount"
            (input)="emitApprenticesCount()"
            class="custom-input"
          />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="emp_input square_input_box" appearance="outline">
          <input
            matInput
            name="female"
            type="number"
            [(ngModel)]="childLaboursCount"
            (input)="emitChildLaboursCount()"
            class="custom-input"
          />
        </mat-form-field>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="divider"></div>
  </div>
</form>
