<div class="container opUnit-details-page-container">

    <div class="row">
        <div class="col">
        <app-stepper [currentStep]="0"> </app-stepper>
        </div>
    </div>
    
    <div class="row app-business-card-container">
        <div class="col-7">
        <app-stepper-helper-text [currentStep]="1" [subStep]="2"></app-stepper-helper-text>
        </div>
        <div class="col">
        <app-business-card></app-business-card>
        <!-- <p>Test</p> -->
        </div>
    </div>
    
    
    <mat-divider> </mat-divider>
    
    <div class="row opUnit-details-page-entity-section">
      <div class="col-8">
        <app-operating-unit-table [entity]="entityDetails"></app-operating-unit-table>
      </div>
    
      <div class="col-3">
      
      <mat-card class="example-card">
        <h4>Company Structure</h4>
        <app-tree-structure [rootNode]="treeDataItem"></app-tree-structure>
      </mat-card>
      </div>
    </div>
    
    <div class="row opUnit-details-next-button-div">
        <div class="col">
        <button class="opUnit-details-next-button"> Next </button>
        </div>
    </div>
    
    </div>
    




