.payment-page-card-layout {
  .responsive-card {
    width: var(--card-width);
    height: var(--card-height);
    border-width: var(--mdc-outlined-card-outline-width);
    border-style: solid;
    border-color: #786acd0a;
    border-radius: var(--mdc-outlined-card-container-shape);
    background-color: #786acd0a;
    box-shadow: var(--mdc-outlined-card-container-elevation);

    @media (max-width: 1200px) {
      width: calc(var(--card-width) * 0.8);
    }

    @media (max-width: 992px) {
      width: calc(var(--card-width) * 0.6);
    }

    @media (max-width: 768px) {
      width: calc(var(--card-width) * 0.5);
    }

    @media (max-width: 576px) {
      width: calc(var(--card-width) * 0.4);
    }
  }
}
