<!-- <app-stepper [currentStep]="1"></app-stepper>
<app-stepper-helper-text [currentStep]="2" [subStep]="2"></app-stepper-helper-text> -->
<app-reg-header></app-reg-header>
<mat-divider></mat-divider>
<app-stepper [currentStep]="2"> </app-stepper>

<div>
  <app-laws-table [data]="ApplicableLawsItems"></app-laws-table>
</div>

<div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 25px">
  <button mat-stroked-button class="btn-primary-outline-md"(click)="navigateToPaymentPage($event)">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <p class="btn-name-style">Next</p>
  </button>
</div>
