<!-- <div class="reg-header">
  <img
    src="../../../../assets/images/logos/Komrisk Lite logoKomriskLite.svg"
    class="logo"
    (click)="handleClickOnLogo()"
    alt="logo"
  />
  <p class="text_12_400_gray_1000_responsive">A Lexplosion Product</p>
</div> -->

<!-- <div class="reg-header">
  <img
    src="../../../../assets/images/logos/Komrisk Lite logoKomriskLite.svg"
    class="logo"
    (click)="handleClickOnLogo()"
    alt="logo"
  />
  <p class="text_12_400_gray_1000_responsive lexplosion-product">
    A
    <img src="../../../../assets/images/logos/image 10LexplosionProduct.svg" />
    Product
  </p>
  <img src="../../../../assets/images/icons/VectorProfileIcon.svg" />
  <mat-icon>keyboard_arrow_down</mat-icon>
</div> -->

<div class="reg-header">
  <img
    src="../../../../assets/images/logos/Komrisk Lite logoKomriskLite.svg"
    class="logo"
    (click)="handleClickOnLogo()"
    alt="logo"
  />

  <div class="profile-section">
    <p class="text_12_400_gray_1000_responsive lexplosion-product">
      A
      <img
        src="../../../../assets/images/logos/image 10LexplosionProduct.svg"
        alt="product-logo"
      />
      Product
    </p>
    <div class="col-md-12 col-lg-12 col-sm-12 profile-section-items">
      <div class="profile-icon-class">
        <button
          class="invisible-border-button"
          [matMenuTriggerFor]="profileMenu"
          #menuTrigger
        >
          <img
            src="../../../../assets/images/icons/VectorProfileIcon.svg"
            alt="profile-icon"
            class="responsive-svg"
          />
          <img
            src="../../../../assets/images/icons/VectorDown Arrow.svg"
            style="margin-left: 12px"
            class="responsive-svg-down-arr"
          />
        </button>

        <mat-menu #profileMenu="matMenu" class="cdk-overlay-pane">
          <button mat-menu-item>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>

      <p class="text_12_400_gray_1000_responsive">Username</p>
    </div>
  </div>
</div>
