.reg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

/* .logo {
  max-width: 179px;
  height: auto;
  margin-right: 20px;
  cursor: pointer;
} */

/* .lexplosion-product {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  padding-right: 20px;
  
} */

.lexplosion-product {
  display: flex;
  align-items: center;
  margin-top: 20%;
}

.profile-section {
  display: flex;
  align-items: center;
}

/* .profile-section-items {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
} */

.invisible-border-button {
  border: none;
  background: none;
  padding: 2%;
  margin: 0;
  cursor: pointer;
}

.padding-left {
  padding-left: 40%;
}

.profile-section-items {
  margin-top: 20%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%; */
}

.profile-icon-class {
  row-gap: 10px;
}

/* .cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex !important;
  flex-direction: row-reverse;
  max-width: 100%;
  max-height: 100%;
} */
