.reg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.lexplosion-product {
  display: flex;
  align-items: center;
  margin-top: 20%;
}

.profile-section {
  display: flex;
  align-items: center;
}

.invisible-border-button {
  border: none;
  background: none;
  padding: 2%;
  margin: 0;
  cursor: pointer;
}

.padding-left {
  padding-left: 40%;
}

.profile-section-items {
  margin-top: 20%;
}

.profile-icon-class {
  row-gap: 10px;
}
