<app-dialog-layout
  [dialogHeaderTitle]="''"
  [dialogHeaderImage]="''"
  [shade]="'light'"
>
  <mat-dialog-content>
    <div class="user-added-successfully">
      <p class="text_12_700_gray_1000">Offline Payment Details</p>
    </div>
    <p class="text_12_500_gray_1000">
      You can make payment through Cheque/NEFT.
    </p>
    <p class="text_12_500_gray_1000">
      Please draw the cheque in favor of Lexplosion Solutions Private Limited.
    </p>
    <p class="text_12_500_gray_1000">
      Your workspace will be live once the accounts team confirms the payment
      received.
    </p>
    <div class="btn-containar-dialog">
      <button
        mat-stroked-button
        class="btn-primary-outline-md btn-spacing"
        (click)="closeSuccessDialog()"
      >
        <p class="btn-name-style-add-new-user-success-modal">
          <img src="./assets/images/icons/Icons - Lex Kom Litecross.svg" />
          Cancel
        </p>
      </button>
      <button
        mat-button
        class="btn-primary-outline-md"
        (click)="navigateToGoLivePage('offline')"
      >
        <p class="btn-name-style-add-new-user-success-modal">
          <mat-icon class="dark-purple-icon">check_circle</mat-icon>
          Ok
        </p>
      </button>
    </div>
  </mat-dialog-content>
</app-dialog-layout>
