.app-helpertext-section{
    margin-bottom: 10px;
}

.payment-section-portion{
    margin-bottom: 10px;
}

.mat-mdc-fab, .mat-mdc-mini-fab {
    -webkit-tap-highlight-color: rgb(201 28 28 / 0%);
    background-color: #42C997;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    color: white;
    flex-shrink: 0;
    border-radius: 5px;
}