<div class="container">
  <app-reg-header></app-reg-header>
  <mat-divider></mat-divider>
  <div class="row stepper-row">
    <div class="col-lg-12 col-sm-12 col-md-12 px-0">
      <app-stepper [currentStep]="3"> </app-stepper>
    </div>
  </div>

  <div class="row app-helpertext-section">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-stepper-helper-text [helperText]="'Start your Risk Compliance Journey after this step.'"
        [stepText]="'Step 4 of 5'" style="width: 100%"></app-stepper-helper-text>
    </div>
  </div>

  <div class="payment-section-portion">
    <!-- <div class="col-lg-8 col-md-12 col-sm-12"> -->
      <app-payment-section></app-payment-section>
    <!-- </div> -->
    <div class="payment-details-button-container">
      <button mat-stroked-button class="btn-primary-outline-md" (click)="navigateToLawsPage($event)">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <p class="btn-name-style">Back</p>
      </button>
      <div class="payment-details-buttons">
        <button class="btn-primary-outline-md" (click)="openOfflinePaymentDialog()">
          <p class="btn-name-style btn-name-style-online-payment">
            <img src="./assets/images/icons/Icons - Lex Kom LitePayOffline.svg" />
            Pay Offline
          </p>
        </button>
        <button class="btn-payment-online" (click)="handleClickOnOnlinePayment()">
          <p class="btn-name-style btn-name-style-online-payment">
            <img src="./assets/images/icons/Icons - Lex Kom LitePayOnline.svg" />
            Pay Online
          </p>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="payment-details-button-container">
    <button
      mat-stroked-button
      class="btn-primary-outline-md"
      (click)="navigateToLawsPage($event)"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
      <p class="btn-name-style">Back</p>
    </button>
    <button
      class="btn-primary-outline-md"
      (click)="navigateToGoLivePage($event)"
    >
      <p class="btn-name-style-online-payment">
        <img src="./assets/images/icons/Icons - Lex Kom LitePayOffline.svg" />
        Pay Online
      </p>
    </button>
    <button class="btn-payment-online" (click)="navigateToGoLivePage($event)">
      <p class="btn-name-style-online-payment">
        <img src="./assets/images/icons/Icons - Lex Kom LitePayOnline.svg" />
        Pay Online
      </p>
    </button>
  </div> -->

    <!-- <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="payment-details-button-container">
        <button mat-stroked-button class="btn-primary-outline-md" (click)="navigateToLawsPage($event)">
          <mat-icon>keyboard_arrow_left</mat-icon>
          <p class="btn-name-style">Back</p>
        </button>
        <div class="payment-details-buttons">
          <button class="btn-primary-outline-md" (click)="openOnlinePaymentDialog()">
            <p class="btn-name-style btn-name-style-online-payment">
              <img src="./assets/images/icons/Icons - Lex Kom LitePayOffline.svg" />
              Pay Offline
            </p>
          </button>
          <button class="btn-payment-online" (click)="openOfflinePaymentDialog()">
            <p class="btn-name-style btn-name-style-online-payment">
              <img src="./assets/images/icons/Icons - Lex Kom LitePayOnline.svg" />
              Pay Online
            </p>
          </button>
        </div>
      </div>
    </div> -->
</div>