<div class="activities-section">
    <p class="text_12_500_gray_1200">Selected Activities</p>
    <div>
        <div matBadgeSize="small" matBadgePosition="below after" matBadgeOverlap="true">
            <mat-accordion #smallDropdown="matAccordion">
                <mat-expansion-panel class="activites-panel">
                    <mat-expansion-panel-header class="custom-expansion-header" [matBadge]="activities.length"
                        matBadgePosition="below after" matBadgeSize="small">
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let activity of activities;">

                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <button mat-stroked-button aria-label="remove-activity-icon"
                                        (click)="removeActivity($event,activity)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 activities-label">
                                    <p>{{activity.label}}</p>
                                </div>
                            </div>

                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
            <div>
            </div>
        </div>