.custom-expansion-header {
    display: flex;
    flex-direction: row-reverse; 
  }
  
  .custom-expansion-header .mat-expansion-indicator {
    order: -1; 
    margin-left: 100px;
  }
  
  .mdc-list-item--with-two-lines .mdc-list-item__primary-text, .mdc-list-item--with-three-lines .mdc-list-item__primary-text {
    display: block;
    margin-top: 0;
    line-height: normal;
    margin-bottom: -20px;
    font-family: Barlow;
}

::ng-deep .mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  height: 2px;
  width: 2px;
}

.activities-label{
 margin-top:5px;
 font-size: 12px;
}

.activity-section-label{
  margin-bottom:10px;
  font-family: Barlow;
}

.activities-section{
  margin: 1px;
}

.mdc-button {
  min-width: 53px;
}

.activites-panel{
  box-shadow: none;
}
