.dark-purple-icon {
  color: rgb(42, 201, 21);
}

.btn-name-style-add-new-user-success-modal {
  font-size: 12px !important;
  font-family: Barlow;
  font-weight: 400px;
  line-height: 14.4px;
  display: flex;
  align-items: center;
}

.btn-spacing {
  margin-right: 80px; /* Adjust the value as needed */
}

.user-added-successfully {
  margin-bottom: 32px;
  //   /margin-top: 24px;
}

// .btn-containar-dialog {
//   margin-top: 24px;
//   gap: 40px;
// }

.btn-containar-dialog {
  margin-top: 24px;
  gap: 140px;
  display: flex;
}
