.highlight-komrisk {
  background-color: rgba(120, 106, 205, 0.12) !important;
}

.highlight-komrisk-header {
  background: rgba(120, 106, 205, 0.24) !important;
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
}

.applicability_icon_container {
  justify-content: center;
}

.name-law-col {
  width: 250px;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 16px;
  align-items: center;
  margin-left: 20px;
}

.custom-margin {
  margin-left: 40px;
  max-width: 25% !important;
}
.custom-margin-1 {
  max-width: 25%;
}

.header-row {
  background-color: #f0f0f0;
}

.highlight {
  background-color: #e0e0e0;
  border: 2px solid #6200ea;
}

.gap-div {
  gap: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: rgba(120, 106, 205, 0.08) !important;
}

.icon-style {
  font-size: 20px;
}
