<mat-card appearance="outlined" class="details-card">
  <mat-card-content style="padding: 10px; padding-bottom: 5px">
    <div class="row">
      <div class="col-lg-4">
        <div class="col-lg-12">
          <p
            class="field-name-typography"
            style="margin-bottom: 10px; margin-left: -10px"
          >
            Business
          </p>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <mat-form-field appearance="outline" class="big-text-input">
              <mat-label class="text_12_400_gray_1000"
                >Business Name here</mat-label
              >
              <input matInput #business />
            </mat-form-field>
          </div>

          <div class="col-lg-1" style="margin-left: 18px">
            <button
              mat-icon-button
              aria-label="Example icon button with a delete icon"
              [matMenuTriggerFor]="menu"
            >
              <mat-icon class="dark-brown-icon">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Edit</button>
              <!-- <button mat-menu-item>Item 2</button> -->
            </mat-menu>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-12">
          <p
            class="field-name-typography"
            style="margin-bottom: 10px; margin-left: -10px"
          >
            Head Quarters Address
          </p>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <mat-form-field appearance="outline" class="big-text-input">
              <mat-label class="text_12_400_gray_1000"
                >HQ Address here</mat-label
              >
              <input matInput />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-10">
          <p
            class="field-name-typography"
            style="margin-bottom: 10px; margin-left: -10px"
          >
            Country of Operation
          </p>
        </div>
        <div class="row bg-dropdown">
          <div class="col-lg-10">
            <app-dropdown
              [label]="'Select one or more countries'"
              [options]="countryList"
              [IsMultiSelection]="true"
              [IsRequired]="false"
              (selectedValueChange)="onCountryValueChange($event)"
            >
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
