<!-- <mat-menu #menu="matMenu" class="menu-recursive"> -->
  <button mat-menu-item *ngFor="let item of menuItems" [matMenuTriggerFor]="getMenu(item)" (click)="item.submenu.length ? null : navigate(item.path)">
    <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
    {{ item.title }}
    <mat-icon *ngIf="item.submenu.length" >expand_more</mat-icon>
  </button>
  <ng-template matMenuContent *ngFor="let item of menuItems" [ngTemplateOutlet]="recursiveMenu" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
<!-- </mat-menu> -->

<ng-template #recursiveMenu let-item>
  <mat-menu #subMenu="matMenu">
    <app-menu-recursive *ngIf="item.submenu.length" [menuItems]="item.submenu"></app-menu-recursive>
  </mat-menu>
</ng-template>
