<div class="container">
    <app-reg-header></app-reg-header>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <app-stepper [currentStep]="4"> </app-stepper>
      </div>
    </div>
  
    <div class="row app-helpertext-section">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <app-stepper-helper-text
          [helperText]="'Hi ‘Name’,<br/>Your workspace is getting ready...'"
          [stepText]="'All Done'"
          style="width: 100%"
        ></app-stepper-helper-text>
      </div>
    </div>
</div>