.lets-get-started-layout {
  flex: 1;
  min-width: 0;
  margin-right: 10px;
}

.lets-get-started-layout-typography {
  font-family: Barlow;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #786acd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.step-no-layout {
  flex: 0 0 auto;
  min-width: 55px;
  height: 14px;
}

.step-no-typography {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: left;
  color: rgba(88, 89, 91, 1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.go-live-typography {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #58595b;
  margin-top: -12px;
  margin-left: 12px;
}

.go-live-columns {
  margin-bottom: 7px;
}

.go-live-details {
  margin-top: 20px;
}

.spinner-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
