.example-form-field-width {
  width: 100%;
  margin-bottom: 2px;
}

.login-form .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
.custome-check-box label.mdc-label {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: rgba(38, 38, 44, 1);
}
.login-form .mat-mdc-form-field-subscript-wrapper {
  height: 16px;
}

.form-field-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
