<!-- <div class="row">
  <div
    class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
    *ngFor="let item of checkboxItems; let i = index"
  >
    <mat-card class="example-card">
      <mat-card-content>
        <div class="row">
          <div class="col-lg-12">
            <img [src]="item.imgSrc" class="logo" />
          </div>
          <div class="col-lg-12">
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="item.checked"
              (change)="onCheckboxChange(i)"
            ></mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<div class="row">
  <div
    class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
    *ngFor="let item of checkboxItems; let i = index"
  >
    <mat-card
      appearance="outlined"
      class="example-card subs-header-card"
      (click)="onCardClick(i)"
      [ngClass]="{ selected: item.checked }"
    >
      <mat-card-content>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <img
              [src]="item.checked ? item.selectedImgSrc : item.imgSrc"
              class="logo"
              [ngClass]="{ 'logo-up': item.name === 'komrisk' }"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
