.example-card {
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.example-card.selected {
  background-color: #786acd;
  border-color: #786acd;
}

.logo {
  width: 100%;
}

.example-card:hover {
  background-color: rgba(113, 99, 204, 0.04);
  border-color: rgba(120, 106, 205, 0.4);
}

.example-card.selected:hover {
  background-color: #786acd;
  border-color: #786acd;
}

.logo-up {
}

.first-card-margin {
  margin-right: 12px;
}
