<div class="row">
  <div *ngFor="let item of checkboxItems; let i = index">
    <mat-card
      appearance="outlined"
      class="example-card subs-header-card"
      (click)="onCardClick(i)"
      [ngClass]="{ selected: item.checked, 'first-card-margin': i === 0 }"
    >
      <mat-card-content>
        <div class="d-flex">
          <div>
            <img
              [src]="item.checked ? item.selectedImgSrc : item.imgSrc"
              class="logo"
              [ngClass]="{ 'logo-up': item.name === 'komrisk' }"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
