<div class="register-container">
  <!-- <mat-card style="display: contents"> -->
  <app-reg-header></app-reg-header>
  <mat-divider></mat-divider>
  <div
    class="col-lg-7 row registration-body-container"
    style="margin-top: 55px"
  >
    <div class="col-12">
      <div class="get-start-for-free" style="margin-bottom: 23px">
        <p class="get-started-for-free-typography">Get started for free</p>
      </div>

      <div about-yourself style="margin-bottom: 20px">
        <p class="about-yourself-typography">
          Tell us something about yourself!
        </p>
      </div>
      <mat-card-content>
        <form>
          <mat-form-field
            appearance="outline"
            class="registration-big-text-input"
          >
            <mat-label class="text_12_400_gray_1000">Name</mat-label>
            <input
              matInput
              name="username"
              [formControl]="usernameFormControl"
            />
            <mat-error *ngIf="usernameFormControl.hasError('required')">
              Name is&nbsp;<strong>required</strong></mat-error
            >
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="registration-big-text-input"
          >
            <mat-label class="text_12_400_gray_1000">Business Name</mat-label>
            <input
              matInput
              name="businessname"
              [formControl]="companynameFormControl"
            />
            <mat-error *ngIf="companynameFormControl.hasError('required')"
              >Business Name is&nbsp; <strong>required</strong></mat-error
            >
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="registration-big-text-input"
          >
            <mat-label class="text_12_400_gray_1000"
              >Headquarter Address</mat-label
            >

            <input
              matInput
              name="headquarterAddress"
              [formControl]="headquarterAddressFormControl"
            />
            <mat-error
              *ngIf="headquarterAddressFormControl.hasError('required')"
              >Headquarter Address is&nbsp; <strong>required</strong></mat-error
            >
          </mat-form-field>

          <!-- <app-dropdown
            [label]="'Select one or more countries'"
            [options]="countryList"
            [IsMultiSelection]="true"
            [IsRequired]="false"
            (selectedValueChange)="onCountryValueChange($event)"
          >
          </app-dropdown> -->
          <div class="bg-dropdown-register">
            <app-dropdown
              [label]="'Select one or more countries'"
              [options]="countryNameList"
              [IsMultiSelection]="true"
              [IsRequired]="false"
              (selectedValueChange)="onCountryValueChange($event)"
            >
            </app-dropdown>
          </div>

          <div style="width: 296px" class="phn-section">
            <div class="bg-dropdown-white" (click)="toggleDropdown()">
              <mat-form-field appearance="outline">
                <div class="row" *ngIf="!isDropdownOpen">
                  <div class="col-1" style="padding-right: 5px">
                    <span class="country-code">{{
                      selectedCountry?.label
                    }}</span>
                  </div>
                  <div class="col-6" style="padding-right: 5px">
                    <img
                      [src]="selectedCountry?.icon"
                      alt="Flag"
                      class="flag-image"
                    />
                  </div>
                </div>

                <mat-select
                  *ngIf="isDropdownOpen"
                  [formControl]="countryCodeFormControl"
                  (selectionChange)="onCountryChange($event)"
                  #countrySelect
                >
                  <mat-option
                    *ngFor="let country of countryList"
                    [value]="country"
                  >
                    <div class="row">
                      <div class="col-1">
                        <span class="country-code">{{ country.label }}</span>
                      </div>
                      <div class="col-4">
                        <img
                          [src]="country.icon"
                          alt="Flag"
                          class="flag-image"
                          style="margin-left: -8px"
                        />
                      </div>
                    </div>
                  </mat-option>
                </mat-select>

                <input
                  matInput
                  name="countryCode"
                  [formControl]="countryCodeFormControl"
                  [readonly]="true"
                  style="display: none"
                />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field
                class="registration-phone-no-input"
                appearance="outline"
              >
                <mat-label class="text_12_400_gray_1000"
                  >Phone Number</mat-label
                >
                <input
                  matInput
                  type="tel"
                  placeholder="Ex. 9999900000"
                  name="phoneNumber"
                  [formControl]="phoneNumberFormControl"
                />

                <mat-error *ngIf="phoneNumberFormControl.hasError('required')"
                  >Phone Number is&nbsp;<strong>required</strong></mat-error
                >
                <mat-error
                  *ngIf="phoneNumberFormControl.hasError('invalidPhoneNumber')"
                  >Invalid Phone Number</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div>
            <mat-checkbox
              style="margin-left: -10px"
              color="primary"
              [(ngModel)]="agreeToTerms"
              name="agreeToTerms"
              [checked]="agreeToTerms"
              (change)="
                updateCheckBoxStateAndOpenConditionModal($event.checked)
              "
            >
              <!-- <span class="agree-to-label">
                  I agree to
                  <button mat-button (click)="termsConditionModalOpen()">
                    <p style="color: blue">terms and conditions</p>
                  </button>
                </span> -->
              <span class="agree-to-label">
                I agree to
                <a class="button-link" (click)="termsConditionModalOpen()">
                  <p style="color: blue">terms and conditions</p>
                </a>
              </span>
            </mat-checkbox>
          </div>

          <div>
            <mat-checkbox
              style="margin-left: -10px; margin-bottom: 10px"
              color="primary"
              [(ngModel)]="consentToPromotionalInfo"
              name="consentToPromotionalInfo"
            >
              <span class="consent-label">
                I consent to receiving promotional information about compliance
                management
              </span>
            </mat-checkbox>
          </div>

          <div style="margin-bottom: 20px; margin-top: 10px">
            <p class="login-credential-typography">Create login Credentials</p>
          </div>

          <mat-form-field
            appearance="outline"
            class="registration-big-text-input"
          >
            <mat-label class="text_12_400_gray_1000"
              >Email ID/Username</mat-label
            >
            <input
              type="email"
              matInput
              [formControl]="emailFormControl"
              placeholder="Ex. rahul@company.com"
              name="email"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
              >Please enter a valid email address</mat-error
            >
            <mat-error *ngIf="emailFormControl.hasError('required')"
              >Email is&nbsp;<strong>required</strong></mat-error
            >
          </mat-form-field>

          <div class="row" style="width: 550px">
            <div class="col-lg-7 col-md-7 col-sm-7">
              <mat-form-field
                appearance="outline"
                class="registration-big-text-input"
              >
                <mat-label class="text_12_400_gray_1000">Password</mat-label>
                <input
                  type="password"
                  matInput
                  [formControl]="passwordFormControl"
                  name="password"
                />

                <mat-error *ngIf="passwordFormControl.hasError('required')"
                  >Password is&nbsp;<strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div
              *ngIf="passwordFormControl.hasError('passwordInvalid')"
              class="col-lg-1 col-md-1 col-sm-1 password-error-icon"
            >
              <mat-icon
                matTooltip="Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and be at least 8 characters long."
                [matTooltipPosition]="'above'"
              >
                info
              </mat-icon>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field
                appearance="outline"
                class="registration-big-text-input"
              >
                <mat-label class="text_12_400_gray_1000"
                  >Confirm Password</mat-label
                >
                <input
                  type="password"
                  matInput
                  [formControl]="confirmPasswordFormControl"
                  name="confirmPassword"
                />
                <mat-error
                  *ngIf="confirmPasswordFormControl.hasError('required')"
                >
                  Please&nbsp;<strong>re-enter</strong>&nbsp;password
                </mat-error>

                <mat-error
                  *ngIf="
                    !confirmPasswordFormControl.hasError('required') &&
                    confirmPasswordFormControl.hasError('passwordsMismatch') &&
                    confirmPasswordFormControl.touched
                  "
                >
                  Passwords didn't&nbsp;<strong>match</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <button
            mat-button
            (click)="handleRegistration($event)"
            class="btn-primary-md registration-email-verification-button"
          >
            Get OTP
          </button>
        </form>
      </mat-card-content>
    </div>
  </div>
  <!-- </mat-card> -->
</div>
