.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100vh;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 0px;
}

.mat-card-title {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.example-button-row {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 20px;
}

.contact-title {
  margin-top: -10px;
  margin-bottom: 5px;
}

.get-start-for-free {
  width: 199px;
  height: 29px;
  top: 136px;
  left: 38px;
  gap: 0px;
  opacity: 0px;
}

.get-started-for-free-typography {
  font-family: Barlow;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #786acd;
}
.about-yourself {
  width: 176px;
  height: 14px;
  top: 188px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
}
.about-yourself-typography {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: left;
  color: #786acd;
}

.agree-to-label {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
}

.consent-label {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
}

.verify-email-button {
  background-color: #786acd; 
  color: white; 
}

.mat-form-field-appearance-outline.mat-focused {
  box-shadow: 0 0 5px white; 
}
.login-credential-typography {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: left;
  color: #786acd;
}

.mdc-button p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-button-font-family,
    var(--mdc-typography-font-family, Barlow)
  );
  font-size: var(--mdc-typography-button-font-size, 12px);
  line-height: var(--mdc-typography-button-line-height, 36px);
  font-weight: var(--mdc-typography-button-font-weight, 500);
  letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
  -webkit-text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-decoration: underline;
  text-decoration-color: blue;
  text-transform: var(--mdc-typography-button-text-transform, none);
}

::ng-deep .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  position: relative !important; 
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 0px !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.password-error-icon{
  margin-top: 15px;
  color: #786acd;
}


.mdc-button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Barlow));
  font-size: var(--mdc-typography-button-font-size, 14px);
  line-height: var(--mdc-typography-button-line-height, 36px);
  font-weight: var(--mdc-typography-button-font-weight, 500);
  letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
  -webkit-text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-transform: var(--mdc-typography-button-text-transform, none);
}

.mat-mdc-card-content {
  padding: 0px 0px !important;
}

.registration-email-verification-button{
  width: 136px;
  height: 40px;
  font-size: 12px;
}

.mdc-button .mdc-button__label {
  position: relative;
  font-size: 12px;
}

.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 16px;
}

.registration-body-container{
  margin-left: 38px;
}

.row, .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, 
.col-10, .col-11, .col-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
.col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, 
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, 
.col-xl-11, .col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}