<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 payment-section-heading">
      <p class="payment-heading-typography">Payment</p>
    </div>
  </div>

  <div class="row subscription-unit-card">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <app-card-layout [headerRequired]="false">
        <div style="padding: 10px">
          <p class="payment-other-typography">Subscription Period</p>
        </div>
      </app-card-layout>
    </div>
  </div>

  <div class="row payment-details-columns">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <app-card-layout [headerRequired]="false">
        <div style="padding: 10px">
          <div class="payment-columns-container">
            <div
              *ngFor="let column of paymentDetailsColumns"
              class="payment-column"
            >
              <p class="payment-other-typography">{{ column }}</p>
            </div>
          </div>
        </div>
      </app-card-layout>
    </div>
  </div>

  <div class="row payment-details-rows">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <app-card-layout [headerRequired]="false">
        <div style="padding: 70px"></div>
      </app-card-layout>
    </div>
  </div>

  <div class="row different-modes-payment-details">
    <div class="col-sm-12 col-md-12 col-lg-5">
      <app-card-layout [headerRequired]="false">
        <div style="padding: 10px; padding-bottom: 70px">
          <p class="payment-other-typography">Offline Payment Details</p>
        </div>
      </app-card-layout>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-5">
      <app-card-layout [headerRequired]="false">
        <div style="padding: 10px; padding-bottom: 70px">
          <p class="payment-other-typography">Online Payment Details</p>
        </div>
      </app-card-layout>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-2">
      <app-card-layout [headerRequired]="false">
        <div style="padding: 10px; padding-bottom: 70px">
          <p class="payment-other-typography">Total</p>
          
        </div>
      </app-card-layout>
    </div>
  </div>
</div>
