.payment-section-heading {
  margin-bottom: 10px;
  margin-left: 12px;
}

.payment-heading-typography {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.payment-other-typography {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.subscription-unit-card {
  margin-bottom: 15px;
}

.payment-details-columns {
  margin-bottom: 7px;
}

.payment-columns-container {
  display: flex;
  gap: 20px;
}

.payment-column {
  padding: 10px;
}

.payment-details-rows {
  margin-bottom: 7px;
}

.payment-card-1 {
  width: 720px;
  height: 40px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
}

.payment-page-typography {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #58595b;
  margin-top: -12px;
  margin-left: 12px;
}

.payment-page-section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: -12px;
}

.checkbox-section {
  margin-right: 12px;
  margin-top: -4px;
  .mdc-form-field > label {
    margin-left: 0;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 0;
    order: 0;
    font-family: barlow;
  }
}

.payment-details-container {
  display: flex;
  gap: 10px;
}

.payment-details-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Add space between cards */
}

@media (max-width: 1280px) {
  .payment-details-container {
    flex-direction: column;
    align-items: center; /* Center align items in the column */
  }

  app-card-layout-for-payment-page {
    width: 100%; /* Make the cards take full width of the container */
    max-width: 100%; /* Prevent any overflow issues */
  }
}

.payment-page-typography-2 {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.payment-page-typography-3 {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #6188d8;
}

// .d-flex {
//   display: flex;
// }

// .justify-content-end {
//   justify-content: flex-end;
// }

// .align-items-center {
//   align-items: center;
// }

.mr-3 {
  margin-right: 1rem; /* Adjust as needed */
}

.margin-bottom {
  margin-top: 15px;
}

.net-payable-amount-section {
  margin-left: 350px;
  margin-top: 10px;
}

.net-payable-amount-typography {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}
