.payment-section-heading{
   
    margin-bottom: 10px;
    margin-left: 12px;
}

.payment-heading-typography{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.payment-other-typography{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.subscription-unit-card{
    margin-bottom: 15px;
}

.payment-details-columns{
    margin-bottom: 7px;
}

.payment-columns-container {
    display: flex;
    gap: 20px;
}

.payment-column {
  
    padding: 10px;
   
}

.payment-details-rows{
    margin-bottom: 7px;
}