<!-- <p>new-user-verification works!</p> -->
<div class="user-verification-form">
  <form>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-with-icon">
          <mat-form-field
            appearance="outline"
            class="registration-big-text-input"
          >
            <mat-label class="text_12_400_gray_1000">Password</mat-label>
            <input
              type="password"
              matInput
              [formControl]="passwordFormControl"
              name="password"
            />

            <mat-error *ngIf="passwordFormControl.hasError('required')"
              >Password is&nbsp;<strong>required</strong>
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('passwordInvalid')"
              >Password is&nbsp;<strong>invalid</strong>
            </mat-error>
          </mat-form-field>

          <div
            *ngIf="passwordFormControl.hasError('passwordInvalid')"
            class="password-error-icon"
          >
            <mat-icon
              matTooltip="Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and be at least 8 characters long."
              [matTooltipPosition]="'above'"
            >
              info
            </mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <mat-form-field
          appearance="outline"
          class="registration-big-text-input"
        >
          <mat-label class="text_12_400_gray_1000">Confirm Password</mat-label>
          <!-- <input matInput name="confirmPassword" /> -->

          <input
            type="password"
            matInput
            [formControl]="confirmPasswordFormControl"
            name="confirmPassword"
          />
          <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
            Please&nbsp;<strong>re-enter</strong>&nbsp;password
          </mat-error>

          <mat-error
            *ngIf="
              !confirmPasswordFormControl.hasError('required') &&
              confirmPasswordFormControl.hasError('passwordsMismatch') &&
              confirmPasswordFormControl.touched
            "
          >
            Passwords didn't&nbsp;<strong>match</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
