<div class="container">
  <app-reg-header></app-reg-header>
  <mat-divider></mat-divider>

  <div class="row stepper-row">
    <div class="col-lg-12 col-sm-12 col-md-12 px-0">
      <app-stepper [currentStep]="1"> </app-stepper>
    </div>
  </div>

  <div class="row app-helpertext-section">
    <div class="col-lg-12 col-md-12 col-sm-12 px-0">
      <app-stepper-helper-text [helperText]="'Select the subscription you want to use!'" [stepText]="'Step 2 of 5'"
        style="width: 100%"></app-stepper-helper-text>
    </div>
  </div>

  <div class="col-lg-12 col-sm-12 col-md-12 grid-container">
    <app-feature-header class="grid-item" (selectedSubscriptionType)="handleSubscriptionType($event)">
    </app-feature-header>
  </div>

  <div class="row features-card" #featureCardcontainerElement>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-features [SubscriptionType]="subscriptionType"></app-features>
    </div>
  </div>

  <div class="row footer-section-buttons-div">
    <button mat-stroked-button class="btn-primary-outline-md" (click)="navigateToEntityPage($event)">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <p class="btn-name-style">Back</p>
    </button>

    <button mat-stroked-button class="btn-primary-outline-md" (click)="navigateToLawsPage($event, subscriptionType)">
      <mat-icon>keyboard_arrow_right</mat-icon>
      <p class="btn-name-style">Next</p>
    </button>
  </div>
</div>