<!-- <mat-checkbox>komrisk</mat-checkbox>
<mat-checkbox>komrisk Lite</mat-checkbox> -->

<div class="container">
    <app-reg-header></app-reg-header>
    <mat-divider></mat-divider>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <app-stepper [currentStep]="1"> </app-stepper>
        </div>
    </div>

    <div class="row app-helpertext-section">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <app-stepper-helper-text
            [helperText]="'Select the subscription you want to use!'"
            [stepText]="'Step 2 of 5'"
            style="width: 100%"
          ></app-stepper-helper-text>
        </div>
      </div>



    <div class="col-lg-12 col-sm-12 col-md-12 grid-container">
        <app-feature-header class="grid-item">
        </app-feature-header>
    </div>

    <div class="row features-card">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <app-card-layout
        [cardHeaderTitle]="subscriptionFeaturesListTitle"
        [shade]="subscriptionFeaturesListShade"
        >
        <p style="margin:50px; text-align: center;">Features to go here...</p>
        </app-card-layout>
    </div>

   
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 25px">
            <button mat-stroked-button (click)="navigateToLawsPage($event)">
              <mat-icon>keyboard_arrow_right</mat-icon>Next
            </button>
          </div>

    </div>

   

   



    <!-- <app-features></app-features>
    <mat-card>
        <mat-card-header class="features-section-card-header">
            <strong>Features</strong>
        </mat-card-header>

        <mat-card-content>
            <app-features></app-features>
        </mat-card-content>
    </mat-card> -->


</div>
