.features-section-card{
    margin-top:20px;
}

.features-section-card-header{
    background-color:rgb(211, 147, 208);
}

.app-helpertext-section{
    margin-bottom: 10px;
}


.grid-container {
    display: grid;
    justify-content: end;
}

.grid-item {
    justify-self: end;
}

.features-card{
    margin-top:15px;
    margin-left: 2px;
    margin-right: 2px;
}
