.layout-container{
    background-image: url('../../../assets/images/background/pexels-nurseryart.png');
    background-size: cover; /* Adjust to your needs */
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2.5% 2.1%;
    width: '100%';
}