<app-dialog-layout
  [dialogHeaderTitle]="dialogHeaderTitle"
  [dialogHeaderImage]="dialogHeaderImage"
>
  <mat-dialog-content class="add-operating-unit">
    <form #entityForm="ngForm">
      <div class="field-container text_12_400_gray_900">
        <div class="field-serial-no text_12_500_gray_1000">1</div>
        <div class="row w-100">
          <!-- <div class="row col-lg-4 col-md-4 col-sm-4 bg-dropdown-business-card h-100 align-items-center w-100"> -->
          <div
            class="bg-dropdown-business-card h-100 align-items-center operating-unit-small-dropdown"
          >
            <div class="col-lg-12 col-md-12 col-sm-12">
              <app-dropdown
                [label]="'Select Entity'"
                [options]="entityList"
                [IsMultiSelection]="true"
                [IsRequired]="true"
                [unchangeableValues]="[data.entity.id]"
                (selectedValueChange)="
                  onSelectedValueChanged($event, 'entityList')
                "
              >
              </app-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="field-container text_12_400_gray_900 mt-22">
        <div class="field-serial-no text_12_500_gray_1000">2</div>
        <div class="d-flex">
          <mat-form-field
            appearance="outline"
            class="entity-form-field big-text-input-entity-table w-240px"
          >
            <mat-label class="text_12_400_gray_900"
              >Enter Name of Operating Unit</mat-label
            >
            <input matInput name="Entity" [(ngModel)]="operatingUnitName" />
          </mat-form-field>

          <section class="radio_selection ml-40">
            <label class="text_12_500_gray_1200">Ownership</label>
            <mat-radio-group
              name="Ownership"
              [(ngModel)]="ownership"
              (change)="onOwnershipSelectionChange($event)"
            >
              <mat-radio-button
                class="example-margin"
                *ngFor="let menu of ownershipDropdown"
                [value]="menu.value"
                [checked]="menu.isChecked"
              >
                {{ menu.label }}
              </mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
      </div>
      <div class="divider"></div>
      <div class="field-container text_12_400_gray_900 mt-22">
        <div class="field-serial-no text_12_500_gray_1000">3</div>
        <div class="row w-100">
          <div
            class="bg-dropdown-business-card h-100 align-items-center operating-unit-big-dropdown"
          >
            <!-- <div class="row col-lg-6 col-md-6 col-sm-6 bg-dropdown-business-card h-100 align-items-center w-100"> -->

            <div class="col-lg-12 col-md-12 col-sm-12">
              <app-dropdown
                [label]="'Type of Operating Unit'"
                [options]="transformedDataOperatingUnits"
                [IsMultiSelection]="false"
                [IsRequired]="true"
                [changeableValues]="operatingUnitType"
                (selectedValueChange)="
                  onSelectedValueChanged($event, 'operatingUnitType')
                "
              >
              </app-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="field-container text_12_400_gray_900 mt-22">
        <div class="field-serial-no text_12_500_gray_1000">4</div>
        <div class="d-flex">
          <div class="w-240px">
            <div class="operating-unit-input-label">
              <label class="text_12_500_gray_1200">Location</label>
            </div>
            <div
              class="row bg-dropdown-business-card align-items-center operating-unit-small-dropdown"
            >
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-dropdown
                  [label]="'Country'"
                  [options]="countryList"
                  [IsMultiSelection]="false"
                  [IsRequired]="true"
                  (selectedValueChange)="
                    onSelectedValueChanged($event, 'country')
                  "
                  [changeableValues]="country"
                >
                </app-dropdown>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-dropdown
                  [label]="'State'"
                  [options]="transformedStates"
                  [IsMultiSelection]="false"
                  [IsRequired]="true"
                  (selectedValueChange)="
                    onSelectedValueChanged($event, 'states')
                  "
                  [changeableValues]="state"
                  [isDisabled]="isStateDropdownDisabled"
                >
                </app-dropdown>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-dropdown
                  [label]="'City'"
                  [options]="transformedStates"
                  [IsMultiSelection]="false"
                  [IsRequired]="true"
                  (selectedValueChange)="
                    onSelectedValueChanged($event, 'states')
                  "
                  [isDisabled]="true"
                >
                </app-dropdown>
              </div>
            </div>
          </div>
          <section class="radio_selection ml-40">
            <label class="text_12_500_gray_1200">Zone</label>
            <mat-radio-group
              name="Zone"
              [(ngModel)]="zone"
              (change)="onZoneSelectionChange($event)"
            >
              <mat-radio-button
                class="example-margin"
                class="text_12_400_gray_1200"
                *ngFor="let menu of zoneDropdown"
                [value]="menu.value"
                [checked]="menu.isChecked"
              >
                {{ menu.label }}
              </mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
      </div>
      <div class="divider"></div>
      <div class="field-container text_12_400_gray_900 mt-22">
        <div class="field-serial-no text_12_500_gray_1000">5</div>
        <div class="d-flex w-100">
          <div class="row w-100">
            <div
              class="bg-dropdown-business-card h-100 align-items-center operating-unit-small-dropdown"
            >
              <!-- <div class="row col-md-6 col-lg-6 bg-dropdown-business-card h-100 operating-unit-small-dropdown "> -->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-dropdown
                  [label]="'Activities'"
                  [options]="filteredActivitiesList"
                  [IsMultiSelection]="true"
                  [IsRequired]="true"
                  (selectedValueChange)="
                    onSelectedValueChanged($event, 'activity')
                  "
                  [changeableValues]="selectedActivitiesList"
                >
                </app-dropdown>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 activities-list-container col-6">
              <app-activities-list
                [selectedActivitiesList]="selectedActivitiesList"
                (selectedActivitiesListChange)="
                  onSelectedActivitiesListChange($event)
                "
              >
              </app-activities-list>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="field-container text_12_400_gray_900 mt-22">
        <div class="field-serial-no text_12_500_gray_1000">6</div>
        <div class="d-flex">
          <label class="text_12_500_gray_1200">Number of Employees</label>
        </div>
      </div>
    </form>

    <div class="col-lg-12">
      <app-employee-count-card
        (employeeDataChange)="employeeCountData($event)"
        (apprenticesChange)="apprenticesData($event)"
        (childLaboursChange)="childLabourData($event)"
        [apprenticeInitial]="editingnoOfApprentice"
        [childInitial]="editingnoOfChild"
        [employeeDataInitial]="editingEmployeeData"
      >
      </app-employee-count-card>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mat-dialog-actions-container">
    <button mat-button class="btn-primary-outline-md" (click)="CloseDialog()">
      <p class="btn-name-style">Back</p>
      <p></p>
    </button>

    <button mat-button class="btn-primary-md-in-dialog" (click)="addOpUnit()">
      <p class="btn-name-style">{{ buttonName }}</p>
      <p></p>
    </button>
  </mat-dialog-actions>
</app-dialog-layout>
