.mat-step-header {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }


  .stepper-header-above .mat-horizontal-stepper-header-container {
    display: flex;
    flex-direction: column;
  }
  
  .stepper-header-above .mat-step-header {
    text-align: center;
    flex-grow: 1;
  }
  
  