<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-horizontal-stepper
        #stepper
        [selectedIndex]="currentStep"
        [linear]="true"
        labelPosition="bottom"
      >
        <mat-step 
        *ngFor="let step of stepperSteps"
        >
          <ng-template matStepLabel>
            {{ step }}
          </ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-horizontal-stepper
        #stepper
        [selectedIndex]="currentStep"
        [linear]="true"
        labelPosition="bottom"
        (selectionChange)="onStepChange($event)"
      >
        <mat-step *ngFor="let step of stepperSteps; let i = index" [stepControl]="getStepControl(i)">
          <ng-template matStepLabel>{{ step }}</ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-horizontal-stepper
        #stepper
        [selectedIndex]="currentStep"
        [linear]=false
        labelPosition="bottom"
        (selectionChange)="setIndex($event)" (click)="triggerClick()"
      >
        <mat-step *ngFor="let step of stepperSteps;">
          <ng-template matStepLabel>
            {{ step }}
       
          </ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div> -->

  <!-- <button  mat-button (click)="navigateToStep(index)">  {{ step }} </button>  -->


  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-horizontal-stepper
          #stepper
          [selectedIndex]="currentStep"
          [linear]="false"
          labelPosition="bottom"
          (selectionChange)="setIndex($event)" (click)="triggerClick()"
        >
          <mat-step *ngFor="let step of stepperSteps; let i = index" [ngClass]="{'disabled-step': stepPointerEventNoneStatus[i]}">
            <ng-template matStepLabel> 
                {{ step }}
            </ng-template>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
  