::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-label {
  padding: 16px 0 0 0;
  text-align: center;
  width: 100%;
  font-family: Barlow;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #f0eff7;
  color: #f0eff7;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #786acd;
  color: #786acd;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
  color: #786acd;
}

.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled="false"] {
  background-color: inherit;
}

.disabled-step {
  pointer-events: none;
  opacity: 0.5; /* visually indicate that the step is disabled */
}

.custom-step-header {
  background-color: #af2727;
  color: #a70d0d;
  /* Add any other styles you want to apply */
}

::ng-deep .custom-stepper .mat-step-header .mat-step-icon-selected,
::ng-deep .custom-stepper .mat-step-header .mat-step-icon-state-done,
::ng-deep .custom-stepper .mat-step-header .mat-step-icon-state-edit {
  background-color: #d3762a;
  color: #855308;
}

::ng-deep
  .custom-stepper
  .mat-step-header
  .mat-step-label.mat-step-label-active {
  color: #b88a0d;
}

/* .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #373ba3;
  color: #b92424;
} */
