@use 'variable' as var;

@mixin btn-model($background-color, $padding, $border-color, $border-radius, $type: 'filled') {
    background-color: $background-color!important;
    padding: $padding!important;
    border: 1px solid $border-color!important; // todo use gradient
    border-radius: $border-radius!important;

    @if($type =='filled') {
        color: var.$gray-400!important;
    }
    
    @else {
        color: $border-color!important;
    }

    // font-size: var.$font-16!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    cursor: pointer!important;
}


.btn-secondary {
    @include btn-model($dark-red-100, 9.5% 8.5%, $green-100, 8px);
}

.btn-primary {
    @include btn-model($primary, 2.34% 8.5%, $primary, 5px);
}
.btn-primary-md {
    @include btn-model($primary, 6px 24px, $primary, 5px);
}

.btn-primary-outline-md {
    @include btn-model('transparent', 6px 24px, $primary, 5px, 'outline');
}
.btn-blue-outline-md {
    @include btn-model('transparent', 6px 24px, $blue, 5px, 'outline');
}