@use 'variable' as var;

@mixin btn-model($background-color, $padding, $border-color, $border-radius, $type: 'filled') {
    background-color: $background-color;
    padding: $padding;
    border: 1px solid $border-color; // todo use gradient
    border-radius: $border-radius;

    @if($type =='filled') {
        color: var.$gray-400;
    }

    @else {
        color: var.$primary;
    }

    font-size: var.$font-16;
    font-weight: 400;
    cursor: pointer;
}


.btn-secondary {
    @include btn-model($dark-red-100, 9.5% 8.5%, $green-100, 8px);
}

.btn-primary {
    @include btn-model($primary, 2.34% 8.5%, $primary, 5px);
}
.btn-primary-md {
    @include btn-model($primary, 6px 24px, $primary, 5px);
}

.btn-primary-outline-md {
    @include btn-model('transparent', 6px 24px, $primary, 5px, 'outline');
}