@use 'variable' as var;

.big-text-input{
    .mat-mdc-text-field-wrapper{
        height: 56px;
        border-radius: 5px;
        // border: 1px sollid $gray-700;
        border: 1px solid var.$gray-700;
        background-color: var.$gray-800;
    }
    
}
