@use 'variable' as var;


@mixin text_W400($font-size, $font-weight: 400) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin text-model($font-size, $font-weight, $font-color, $font-family, $line-height:null) {
    font-size: $font-size!important;
    font-weight: $font-weight!important;
    color: $font-color!important;
    font-family: $font-family!important;
    line-height: $line-height!important;
}

.text_25_700 {
    @include text-model(1.5rem, 700, var.$font-color-dark, Barlow);
}

.text_24_400_dark {
    @include text-model(var.$font-24, 400, var.$font-color-dark, Barlow, 40px);
}

.text_24_400_blue {
    @include text-model(var.$font-24, 400, var.$font-color-blue, Barlow, 40px);
}

.text_56_800 {
    // font-size: $font-56;
    text-transform: uppercase;
    @include text-model(var.$font-56, 800, var.$font-color-light, Barlow, 78.79px);
    // font-family: 'Open Sans';
}

.text_16_700 {
    @include text-model(var.$font-16, 700, var.$font-color-dark, Barlow);
}
.text_12_700 {
    @include text-model(var.$font-12, 700, var.$gray-600, Barlow, 14.4px);
}
.text_12_400_gray_900 {  // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-900, Barlow, 14.4px);
}
.text_12_500_gray_1000{  // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 500, var.$gray-1000, Barlow, 16px);
}
.text_12_400_gray_1000{  // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-1000, Barlow, 20px);
}
