@use "variable" as var;

@mixin text_W400($font-size, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin text-model(
  $font-size,
  $font-weight,
  $font-color,
  $font-family,
  $line-height: null
) {
  font-size: $font-size !important;
  font-weight: $font-weight !important;
  color: $font-color !important;
  font-family: $font-family !important;
  line-height: $line-height !important;
}

.text_25_700 {
  @include text-model(2rem, 700, var.$font-color-dark, Barlow);
}

.text_24_400_dark {
  @include text-model(var.$font-24, 500, var.$font-color-dark, Barlow, 40px);
}

.text_24_400_blue {
  @include text-model(var.$font-24, 400, var.$font-color-blue, Barlow, 40px);
}

.text_56_800 {
  text-transform: uppercase;
  @include text-model(2rem, 800, var.$font-color-light, Open Sans);
}

.text_16_700 {
  @include text-model(var.$font-16, 700, var.$font-color-dark, Barlow);
  // .selected{
  //     @include text-model(var.$font-16, 700, var.$white, Barlow);
  // }
}

.text_12_700_gray_1000 {
  @include text-model(var.$font-12, 700, var.$gray-1000, Barlow, 14.4px);
}

@media (max-width: 425px) {
  .text_12_400_gray_1000,
  label.mdc-label,
  .mat-mdc-select-min-line {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-36, 400, var.$gray-1000, Barlow, 20px);
  }
  .text_12_400_gray_900 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-36, 400, var.$gray-900, Barlow, 14.4px);
  }
  .text_12_500_gray_1000 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-36, 500, var.$gray-1000, Barlow, 16px);
  }

  .text_12_500_gray_1200 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-36, 500, var.$gray-1200, Barlow, 14.4px);
  }
  .text_12_400_gray_1200 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-36, 400, var.$gray-1200, Barlow, 14.4px);
  }
}

@media (min-width: 321px) {
  .text_12_400_gray_1000,
  label.mdc-label,
  .mat-mdc-select-min-line {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-1000, Barlow, 20px);
  }
  .text_12_400_gray_900 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-900, Barlow, 14.4px);
  }
  .text_12_500_gray_1000 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 500, var.$gray-1000, Barlow, 16px);
  }

  .text_12_500_gray_1200 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 500, var.$gray-1200, Barlow, 14.4px);
  }
  .text_12_400_gray_1200 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-1200, Barlow, 14.4px);
  }
}

@media (min-width: 767px) {
  .text_12_400_gray_1000,
  label.mdc-label,
  .mat-mdc-select-min-line {
    // todo change the class name like this one, add color code
    @include text-model(1.35vw, 400, var.$gray-1000, Barlow, 20px);
  }
  .text_12_400_gray_900 {
    // todo change the class name like this one, add color code
    @include text-model(1.35vw, 400, var.$gray-900, Barlow, 14.4px);
  }
  .text_12_500_gray_1000 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 500, var.$gray-1000, Barlow, 16px);
  }

  .text_12_500_gray_1200 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-17, 500, var.$gray-1200, Barlow, 14.4px);
  }

  .text_12_700_gray_600 {
    @include text-model(var.$font-17, 700, var.$gray-600, Barlow, 14.4px);
  }
  .text_12_400_gray_1200 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-17, 400, var.$gray-1200, Barlow, 14.4px);
  }
}

@media (min-width: 1024px) {
  .text_56_800 {
    text-transform: uppercase;
    @include text-model(2rem, 800, var.$font-color-light, Open Sans);
  }
  .text_24_400_dark {
    @include text-model(var.$font-24, 400, var.$font-color-dark, Barlow, 40px);
  }
  .text_12_500_gray_1200,
  label.mdc-label {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 500, var.$gray-1200, Barlow, 14.4px);
  }

  .text_12_700_gray_600 {
    @include text-model(var.$font-12, 700, var.$gray-600, Barlow, 14.4px);
  }
  .text_12_400_gray_1000,
  label.mdc-label,
  .mat-mdc-select-min-line {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-1000, Barlow, 20px);
  }
  .text_12_400_gray_900 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-900, Barlow, 14.4px);
  }
  .text_12_400_gray_1200 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-1200, Barlow, 14.4px);
  }
  .text_12_400_gray_1650 {
    // todo change the class name like this one, add color code
    @include text-model(var.$font-12, 400, var.$gray-1650, Barlow, 14.4px);
  }
}

.text_12_700_gray_1000 {
  // todo change the class name like this one, add color code
  @include text-model(var.$font-12, 700, var.$gray-1000, Barlow, 14.4px);
}

.text_12_700_gray_1650 {
  // todo change the class name like this one, add color code
  @include text-model(var.$font-12, 700, var.$gray-1650, Barlow, 14.4px);
}

.text_12_400_gray_400 {
  // todo change the class name like this one, add color code
  @include text-model(var.$font-12, 400, var.$gray-400, Barlow, 14.4px);
}

.text_12_700_purple_100 {
  // todo change the class name like this one, add color code
  @include text-model(var.$font-12, 700, var.$purple-100, Barlow, 14.4px);
}

.text_14_400_black_100 {
  // todo change the class name like this one, add color code
  @include text-model(var.$font-14, 400, var.$gray-100, Barlow, 16.8px);
}

.text_12_700_gray_1000 {
  // todo change the class name like this one, add color code
  @include text-model(var.$font-12, 700, var.$gray-1000, Barlow, 24px);
}

// .text_12_700_gray_1650_responsive {
//   // todo change the class name like this one, add color code
//   @include text-model(var.$font-12, 700, var.$gray-1650, Barlow, 14.4px);
// }
// @mixin text-model-responsive(
//   $font-size,
//   $font-weight,
//   $font-color,
//   $font-family,
//   $line-height: null
// ) {
//   // Default styles
//   font-size: $font-size !important;
//   font-weight: $font-weight !important;
//   color: $font-color !important;
//   font-family: $font-family !important;
//   @if $line-height != null {
//     line-height: $line-height !important;
//   }

//   // 4K screens
//   @media (max-width: 2560px) and (min-width: 1921px) {
//     font-size: calc(var(--base-unit-4k) * var(--scale-button-font-size));
//   }

//   // 1920px wide screens
//   @media (max-width: 1920px) and (min-width: 1681px) {
//     font-size: calc(var(--base-unit-1920) * var(--scale-button-font-size));
//   }

//   // 1680px wide screens
//   @media (max-width: 1680px) and (min-width: 1441px) {
//     font-size: calc(var(--base-unit-1690) * var(--scale-button-font-size));
//   }

//   // 1440px wide screens
//   @media (max-width: 1440px) and (min-width: 1281px) {
//     font-size: calc(var(--base-unit-large1) * var(--scale-button-font-size));
//   }
// }

.text_12_700_gray_1650_responsive {
  font-size: 12px !important;
  font-family: Barlow;
  font-weight: 700px;
  //line-height: 14.4px;
  color: var.$gray-1650;
}

@media (max-width: 2560px) and (min-width: 1921px) {
  .text_12_700_gray_1650_responsive {
    font-size: calc(
      var(--base-unit-4k) * var(--scale-button-font-size)
    ) !important;

    line-height: calc(var(--base-unit-4k) * var(--scale-factor-line-height));
  }
}

@media (max-width: 1920px) and (min-width: 1681px) {
  .text_12_700_gray_1650_responsive {
    font-size: calc(
      var(--base-unit-1920) * var(--scale-button-font-size)
    ) !important;
    line-height: calc(var(--base-unit-1920) * var(--scale-factor-line-height));

    // line-height: 14.4px;
  }
}

@media (max-width: 1680px) and (min-width: 1441px) {
  .text_12_700_gray_1650_responsive {
    font-size: calc(
      var(--base-unit-1680) * var(--scale-button-font-size)
    ) !important;
    line-height: calc(var(--base-unit-1680) * var(--scale-factor-line-height));
    //line-height: 14.4px;
  }
}

@media (max-width: 1440px) and (min-width: 1281px) {
  .text_12_700_gray_1650_responsive {
    font-size: calc(
      var(--base-unit-large1) * var(--scale-button-font-size)
    ) !important;
    line-height: calc(
      var(--base-unit-large1) * var(--scale-factor-line-height)
    );
    //line-height: 14.4px;
  }
}

.text_12_400_black_responsive {
  font-size: 12px !important;
  font-family: Barlow;
  font-weight: 400px;
  //line-height: 14.4px;
  color: black;
}

@media (max-width: 2560px) and (min-width: 1921px) {
  .text_12_400_black_responsive {
    font-size: calc(
      var(--base-unit-4k) * var(--scale-button-font-size)
    ) !important;

    line-height: calc(var(--base-unit-4k) * var(--scale-factor-line-height));
  }
}

@media (max-width: 1920px) and (min-width: 1681px) {
  .text_12_400_black_responsive {
    font-size: calc(
      var(--base-unit-1920) * var(--scale-button-font-size)
    ) !important;
    line-height: calc(var(--base-unit-1920) * var(--scale-factor-line-height));

    // line-height: 14.4px;
  }
}

@media (max-width: 1680px) and (min-width: 1441px) {
  .text_12_400_black_responsive {
    font-size: calc(
      var(--base-unit-1680) * var(--scale-button-font-size)
    ) !important;
    line-height: calc(var(--base-unit-1680) * var(--scale-factor-line-height));
    //line-height: 14.4px;
  }
}

@media (max-width: 1440px) and (min-width: 1281px) {
  .text_12_400_black_responsive {
    font-size: calc(
      var(--base-unit-large1) * var(--scale-button-font-size)
    ) !important;
    line-height: calc(
      var(--base-unit-large1) * var(--scale-factor-line-height)
    );
    //line-height: 14.4px;
  }
}
