@use "variable" as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "mixins/spacing";
// @import 'mixins/color';
@import "mixins/font";
@import "grid/grid";
@import "global";
@import "heading";
@import "component/header";
@import "sidebar";
@import "component/spinner";
@import "dashboard";
@import "font-style";
@import "button";
@import "snackbar";
@import "responsive";
@import "input";
@import "text";

// @import "../styles/icons/material-design-iconic-font/css/materialdesignicons.min.css";

/* You can add global styles to this file, and also import other style files */
.mat-expansion-panel-body {
  padding: 0px 0px 0px !important;
}

// .contain_bg_36_br_16 {
//   background-color: var.$gray-300;
//   border-width: 1px;
//   border-style: solid;
//   border-radius: 16px;
//   border-image-source: linear-gradient(
//     90.27deg,
//     var.$gray-400 0%,
//     var.$green-100 100%
//   );
//   border-image-slice: 1;
// }

.contain_bg_36_br_16 {
  position: relative;
  background-color: var.$grey-250;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  z-index: 0;
}

.contain_bg_36_br_16::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(90.27deg, var.$gray-400 0%, var.$green-100 100%);
  -webkit-mask: linear-gradient(#d9d9d9 0 0) content-box,
    linear-gradient(#e0dede 0 0); //to do declare the colors in variables
  mask-composite: exclude;
  //backdrop-filter: blur(1px);
  z-index: -1;
}

.contain_bg_36_br_16::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 1px;
  background: var.$grey-250;
  backdrop-filter: blur(4px);
  z-index: -2;
}

.form-container1 {
  //width: calc(var(--base-unit-large) * var(--scale-factor-width));
  border-radius: 10px;
  background-color: var.$gray-500;
  box-shadow: 0 4px 56px 0 var.$black-100;
  //margin-left: calc(var(--base-unit-large) * var(--scale-factor-margin-left));
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
  display: inline-block;
  font-family: "Barlow";
}

.form-heading-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 9.31%;
  padding: var.$size_16px var.$size_24px;
}

.login-formheader {
  background-color: var.$primary;
  border-radius: 10px 10px 0 0;
  height: 112px;

  .login-header-logo {
    margin-top: 16px;
    margin-left: 24px;
  }
}

.login-form {
  .login-field {
    .mat-mdc-text-field-wrapper {
      height: calc(var(--base-unit-large) * var(--scale-factor-button-height)) !important;
      width: calc(var(--base-unit-large) * var(--scale-factor-button-width)) !important;
      margin-left: calc(var(--base-unit-large) * var(--scale-margin-left)) !important;
    }

    .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
      font-size: 12px !important;
    }

    .mat-mdc-form-field-error {
      color: #e50f21;
    }

    .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: var(--mdc-theme-error, #e50f21);
    }

    label {
      font-size: var.$font-12;
    }
  }

  .forgot_pass {
    @include text_W400(var.$font-12);
    color: var.$blue;
  }

  .login-footer-containar {
    justify-content: space-between;
    display: flex;
    padding-right: 64px;
    padding-bottom: 16px;
  }
}

@media (max-width: 2560px) and (min-width: 1921px) {
  :root {
    --base-unit-4k: 16px;
  }

  .form-container1 {
    width: calc(var(--base-unit-4k) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-4k) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-4k) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(
        var(--base-unit-4k) * var(--scale-login-formheader-logo-width)
      );
      height: calc(
        var(--base-unit-4k) * var(--scale-login-formheader-logo-height)
      );
      margin-top: calc(
        var(--base-unit-4k) * var(--scale-login-formheader-margin-top)
      );
      margin-left: calc(
        var(--base-unit-4k) * var(--scale-login-formheader-margin-left)
      );
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: calc(var(--base-unit-4k) * var(--scale-factor-button-height)) !important;

        width: calc(var(--base-unit-4k) * var(--scale-factor-button-width)) !important;
        margin-left: calc(var(--base-unit-4k) * var(--scale-margin-left)) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: flex;
        margin-left: calc(var(--base-unit-4k) * var(--scale-factor-error-margin-left));
      }

      .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
        font-size: 12px !important;
      }
    }

    .button-container {
      margin-left: calc(var(--base-unit-4k) * var(--scale-margin-left)) !important;
      margin-top: calc(var(--base-unit-4k) * var(--scale-forgetpass-margin-top));
    }

    .remember-me-containar {
      margin-left: calc(var(--base-unit-4k) * var(--scale-margin-left-remember-me)) !important;
      margin-top: 16px;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;

      margin-top: calc(var(--base-unit-4k) * var(--scale-forgetpass-margin-top));
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-4k) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-4k) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-4k) * var(--registration-scale-factor-left));
  }

  .phone-section {
    width: calc(var(--base-unit-4k) * var(--reg-form-field-scale));
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: calc(var(--base-unit-4k) * var(--scale-factor-button-height)) !important;
      width: calc(var(--base-unit-4k) * var(--reg-form-field-scale)) !important;
    }
  }
}

@media (max-width: 1920px) and (min-width: 1681px) {
  :root {
    --base-unit-1920: 12px;
  }

  .form-container1 {
    width: calc(var(--base-unit-1920) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-1920) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-1920) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-1920) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-1920) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-1920) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-1920) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: calc(var(--base-unit-1920) * var(--scale-factor-button-height)) !important;

        width: calc(var(--base-unit-1920) * var(--scale-factor-button-width)) !important;
        margin-left: calc(var(--base-unit-1920) * var(--scale-margin-left)) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: flex;
        margin-left: calc(var(--base-unit-1920) * var(--scale-factor-error-margin-left));
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 0.5rem !important;
      // }
    }

    .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(var(--base-unit-1920) * var(--scale-margin-left)) !important;
    }

    .remember-me-containar {
      margin-left: calc(var(--base-unit-1920) * var(--scale-margin-left-remember-me)) !important;
      margin-top: 16px;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
      margin-top: 16px;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-1920) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-1920) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-1920) * var(--registration-scale-factor-left));
  }

  .phone-section {
    width: calc(var(--base-unit-1920) * var(--reg-form-field-scale));
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: calc(var(--base-unit-1920) * var(--scale-factor-button-height)) !important;
      width: calc(var(--base-unit-1920) * var(--reg-form-field-scale)) !important;
    }
  }
}

@media (max-width: 1680px) and (min-width: 1441px) {
  :root {
    --base-unit-1680: 10.5px;
  }

  .form-container1 {
    width: calc(var(--base-unit-1680) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-1680) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-1680) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-1680) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-1680) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-1680) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-1680) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: calc(var(--base-unit-1680) * var(--scale-factor-button-height)) !important;

        width: calc(var(--base-unit-1680) * var(--scale-factor-button-width)) !important;
        margin-left: calc(var(--base-unit-1680) * var(--scale-margin-left)) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: flex;
        margin-left: calc(var(--base-unit-1680) * var(--scale-factor-error-margin-left));
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 0.5rem !important;
      // }
    }

    .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(var(--base-unit-1680) * var(--scale-margin-left)) !important;
    }

    .remember-me-containar {
      margin-left: calc(var(--base-unit-1680) * var(--scale-margin-left-remember-me)) !important;
      margin-top: 16px;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
      margin-top: 16px;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-1680) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-1680) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-1680) * var(--registration-scale-factor-left));
  }

  .phone-section {
    width: calc(var(--base-unit-1680) * var(--reg-form-field-scale));
  }
}

@media (max-width: 1440px) and (min-width: 1361px) {
  :root {
    --base-unit-large1: 9px;
  }

  .form-container1 {
    width: calc(var(--base-unit-large1) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-large1) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-large1) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-large1) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-large1) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-large1) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-large1) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: calc(
          var(--base-unit-large1) * var(--scale-factor-button-height)
        ) !important;

        width: calc(
          var(--base-unit-large1) * var(--scale-factor-button-width)
        ) !important;
        margin-left: calc(
          var(--base-unit-large1) * var(--scale-margin-left)
        ) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: flex;
        margin-left: calc(
          var(--base-unit-large1) * var(--scale-factor-error-margin-left)
        );
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 0.5rem !important;
      // }
    }

    .mat-mdc-form-field
      .mdc-text-field--outlined
      .mdc-notched-outline--upgraded
      .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(
        var(--base-unit-large1) * var(--scale-margin-left)
      ) !important;
    }

    .remember-me-containar {
      margin-left: calc(
        var(--base-unit-large1) * var(--scale-margin-left-remember-me)
      ) !important;
      margin-top: 16px;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
      margin-top: 16px;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-large1) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-large1) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-large1) * var(--registration-scale-factor-left));
  }

  .phone-section {
    width: calc(var(--base-unit-large1) * var(--reg-form-field-scale));
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: calc(var(--base-unit-large1) * var(--scale-factor-button-height)) !important;

      width: calc(var(--base-unit-large1) * var(--reg-form-field-scale)) !important;
    }
  }
}

@media (max-width: 1360px) and (min-width: 1281px) {
  :root {
    --base-unit-large2: 8.5px;
  }

  .form-container1 {
    width: calc(var(--base-unit-large2) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-large2) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-large2) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-large2) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-large2) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-large2) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-large2) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: calc(
          var(--base-unit-large2) * var(--scale-factor-button-height)
        ) !important;

        width: calc(
          var(--base-unit-large2) * var(--scale-factor-button-width)
        ) !important;
        margin-left: calc(
          var(--base-unit-large2) * var(--scale-margin-left)
        ) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: flex;
        margin-left: calc(
          var(--base-unit-large2) * var(--scale-factor-error-margin-left)
        );
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 0.5rem !important;
      // }
    }

    .mat-mdc-form-field
      .mdc-text-field--outlined
      .mdc-notched-outline--upgraded
      .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(
        var(--base-unit-large2) * var(--scale-margin-left)
      ) !important;
    }

    .remember-me-containar {
      margin-left: calc(
        var(--base-unit-large2) * var(--scale-margin-left-remember-me)
      ) !important;
      margin-top: 16px;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
      margin-top: 16px;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-large2) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-large2) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-large2) * var(--registration-scale-factor-left));
  }

  .phone-section {
    width: calc(var(--base-unit-large2) * var(--reg-form-field-scale));
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: calc(var(--base-unit-large2) * var(--scale-factor-button-height)) !important;

      width: calc(var(--base-unit-large2) * var(--reg-form-field-scale)) !important;
    }
  }
}

@media (width: 1280px) {
  :root {
    --base-unit-large: 8px;
  }

  .form-container1 {
    width: calc(var(--base-unit-large) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-large) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-large) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-large) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-large) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-large) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-large) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: 56px !important;
        width: calc(
          var(--base-unit-large) * var(--scale-factor-button-width)
        ) !important;
        margin-left: calc(
          var(--base-unit-large) * var(--scale-margin-left)
        ) !important;
      }

      .mat-mdc-form-field-error {
        display: flex;
        font-size: xx-small; // to do , implement this for all media query
        margin-left: calc(
          var(--base-unit-large) * var(--scale-factor-error-margin-left)
        );
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 12px !important;
      // }
    }

    .mat-mdc-form-field
      .mdc-text-field--outlined
      .mdc-notched-outline--upgraded
      .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(
        var(--base-unit-large) * var(--scale-margin-left)
      ) !important;
    }

    .remember-me-containar {
      margin-left: calc(
        var(--base-unit-large) * var(--scale-margin-left-remember-me)
      ) !important;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
      margin-top: 8px;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-large) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: 56px !important;
      width: calc(var(--base-unit-large) * var(--reg-form-field-scale)) !important;
      // margin-left: calc(
      //   var(--base-unit-large) * var(--scale-margin-left)
      // ) !important;
    }
  }

  .register-container {
    width: calc(var(--base-unit-large) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-large) * var(--registration-scale-factor-left));
    // margin-top: calc(
    //   var(--base-unit-large) * var(--registration-scale-factor-top)
    // );
  }

  .phone-section {
    width: 296px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  :root {
    --base-unit-medium1: 6.4px;
  }

  .form-container1 {
    width: calc(var(--base-unit-medium1) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-medium1) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-medium1) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-medium1) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-medium1) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-medium1) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-medium1) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: 56px !important;
        width: calc(var(--base-unit-medium1) * var(--scale-factor-button-width)) !important;
        margin-left: calc(var(--base-unit-medium1) * var(--scale-margin-left)) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: block;
        margin-left: calc(var(--base-unit-medium1) * var(--scale-factor-error-margin-left));
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 12px;
      // }
    }

    .mat-mdc-form-field
      .mdc-text-field--outlined
      .mdc-notched-outline--upgraded
      .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(var(--base-unit-medium1) * var(--scale-margin-left)) !important;
    }

    .remember-me-containar {
      margin-left: calc(var(--base-unit-medium1) * var(--scale-margin-left-remember-me)) !important;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-medium1) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-medium1) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-medium1) * var(--registration-scale-factor-left));
    // margin-top: calc(
    //   var(--base-unit-medium1) * var(--registration-scale-factor-top)
    // );
  }

  .phone-section {
    width: calc(var(--base-unit-medium1) * var(--reg-form-field-scale));
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: 56px !important;
      width: calc(var(--base-unit-medium1) * var(--reg-form-field-scale)) !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-medium) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-medium) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-medium) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-medium) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-medium) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: 56px !important;
        width: calc(var(--base-unit-medium) * var(--scale-factor-button-width)) !important;
        margin-left: calc(var(--base-unit-medium) * var(--scale-margin-left)) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: block;
        margin-left: calc(var(--base-unit-medium) * var(--scale-factor-error-margin-left));
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 12px;
      // }
    }

    .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(var(--base-unit-medium) * var(--scale-margin-left)) !important;
    }

    .remember-me-containar {
      margin-left: calc(var(--base-unit-medium) * var(--scale-margin-left-remember-me)) !important;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-medium) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-medium) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-medium) * var(--registration-scale-factor-left));
    // margin-top: calc(
    //   var(--base-unit-medium) * var(--registration-scale-factor-top)
    // );
  }

  .phone-section {
    width: calc(var(--base-unit-medium) * var(--reg-form-field-scale));
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: 56px !important;
      width: calc(var(--base-unit-medium) * var(--reg-form-field-scale)) !important;
    }
  }

  .form-container1 {
    width: calc(var(--base-unit-medium) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-medium) * (var(--scale-factor-margin-left)));
  }
}

@media (max-width: 767px) {
  :root {
    --base-unit-small: 4px;
  }

  .form-container1 {
    width: calc(var(--base-unit-small) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-small) * var(--scale-factor-margin-left));
  }

  .login-formheader {
    background-color: var.$primary;
    border-radius: 10px 10px 0 0;
    height: calc(var(--base-unit-small) * var(--scale-login-formheader-height));

    .login-header-logo {
      width: calc(var(--base-unit-small) * var(--scale-login-formheader-logo-width));
      height: calc(var(--base-unit-small) * var(--scale-login-formheader-logo-height));
      margin-top: calc(var(--base-unit-small) * var(--scale-login-formheader-margin-top));
      margin-left: calc(var(--base-unit-small) * var(--scale-login-formheader-margin-left));
    }
  }

  .login-form {
    .login-field {
      .mat-mdc-text-field-wrapper {
        height: 56px !important;
        width: calc(var(--base-unit-small) * var(--scale-factor-button-width)) !important;
        margin-left: calc(var(--base-unit-small) * var(--scale-margin-left)) !important;
      }

      .mat-mdc-form-field-error {
        font-size: xx-small;
        display: block;
        margin-left: calc(var(--base-unit-small) * var(--scale-factor-error-margin-left));
      }

      // .mat-mdc-form-field
      //   .mdc-text-field--outlined
      //   .mdc-notched-outline--upgraded
      //   .mdc-floating-label--float-above {
      //   font-size: 12px;
      // }
    }

    .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
      font-size: 10px;
    }

    .button-container {
      margin-left: calc(var(--base-unit-small) * var(--scale-margin-left)) !important;
    }

    .remember-me-containar {
      margin-left: calc(var(--base-unit-small) * var(--scale-margin-left-remember-me)) !important;
    }

    .forgot_pass {
      @include text_W400(var.$font-12);
      color: var.$blue;
    }

    .login-footer-containar {
      padding-right: calc(var(--base-unit-small) * var(--scale-factor-login-footer-containar-margin-right));
    }
  }

  .register-container {
    width: calc(var(--base-unit-small) * var(--registration-scale-factor-width));
    margin-left: calc(var(--base-unit-small) * var(--registration-scale-factor-left));
    // margin-top: calc(
    //   var(--base-unit-small) * var(--registration-scale-factor-top)
    // );
  }

  .phone-section {
    width: calc(var(--base-unit-small) * var(--reg-form-field-scale));
  }

  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: 56px !important;
      width: calc(var(--base-unit-small) * var(--reg-form-field-scale)) !important;
    }
  }

  .form-container1 {
    width: calc(var(--base-unit-small) * var(--scale-factor-width));
    margin-left: calc(var(--base-unit-small) * (var(--scale-factor-margin-left)));
  }
}

// todo chnage this to 100%
@media (min-width: 425px) and (max-width: 1024px) {
  .phn-input {
    .mat-mdc-text-field-wrapper {
      width: 95.458%;
      margin: auto;
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .square_input_box {
    .mat-mdc-text-field-wrapper {
      height: 38px;
      padding: 2px;
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      height: 38px !important;
      min-height: 0 !important;
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 992px) {
  .phn-section {
    width: 102%; // todo chnage it to 100% and adjust rest of the styles accordingly
  }
}

@media (min-width: 1300px) {
  .phn-section {
    width: 105%; // todo chnage it to 100% and adjust rest of the styles accordingly
  }
}

@media (max-width: 767.98px) {
  .phn-section {
    width: 105%; // todo chnage it to 100% and adjust rest of the styles accordingly
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.inputField-margin {
  margin-bottom: -10px;
  margin-top: 21px;
}

@mixin header_common {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  /* Adjust as needed */
}

.header {
  @include header_common;
}

.full-layout_header {
  @include header_common;
  border-radius: 5px;
}

.logo {
  max-width: 179px;
  /* Adjust the maximum width of the logo */
  height: auto;
  margin-right: 20px;
  margin-left: 16px;
  margin-top: 16px;
  /* Adjust the spacing between the image and the text */
  cursor: pointer;
}

.lexplosion-product {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  padding-right: 20px;
}

.mt-42 {
  margin-top: var.$mt-42;
}

.mr-40 {
  margin-top: 40px;
}

.mt--10 {
  margin-top: -(var.$mt-10);
}

.mt-22 {
  margin-top: 22px;
}

.mb-14px {
  margin-bottom: 14px;
}

.ml-16px {
  margin-left: 16px;
}

.ml-40 {
  margin-left: 40px;
}

.radio_selection {
  display: flex;
  flex-direction: column;
}

.mat-mdc-raised-button.mat-warn {
  --mdc-protected-button-container-color: var.$purple-100;
  --mdc-protected-button-label-text-color: var.$white;
  text-decoration: none;
}

.mat-mdc-outlined-button {
  --mdc-outlined-button-outline-color: var.$purple-100;
}

.mat-mdc-outlined-button.mat-unthemed {
  --mdc-outlined-button-label-text-color: var.$purple-100;
}

.mat-mdc-raised-button.mat-warn {
  --mdc-protected-button-container-color: var.$purple-100;
  --mdc-protected-button-label-text-color: var.$white;
  text-decoration: none;
}

.mat-mdc-outlined-button {
  --mdc-outlined-button-outline-color: var.$purple-100;
}

.mat-mdc-outlined-button.mat-unthemed {
  --mdc-outlined-button-label-text-color: var.$purple-100;
}

// .blank-layout-container {
//   padding: 4.73% 13.125%;
// }
.blank-layout-container {
  padding: 0px 13.125% 4.73% 13.125%;
  /* top, right, bottom, left */
}

.mat-mdc-select-arrow {
  svg {
    display: none !important;
    /* Hide the default arrow */
  }
}

.mat-mdc-select-arrow::after {
  content: url("../images/Down.png");
  position: absolute;
  top: -6px;
  left: -12px;
}

.no_of_emp_container {
  margin-top: 2px;
  display: flex;
}

@mixin gray-input-box {
  border: 1px solid var.$gray-1300;
  border-radius: 5px;
}

.emp_input {
  width: 5.04vw !important;
  margin: 0 16px;

  .mat-mdc-text-field-wrapper {
    @include gray-input-box;
  }
}

input.mdc-radio__native-control:focus,
.mdc-radio__native-control:hover {
  background-color: none;
}

@mixin small-dropdown-box {
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  border: 1px solid var.$gray-1100;
}

.activities-section {
  .mat-expansion-panel-header {
    @include small-dropdown-box;

    span.mat-content {
      display: none;
    }
  }

  .mat-expansion-indicator::after {
    border-width: 0px 1px 1px 0px !important;
    border-color: var.$gray-1100;
    width: 0px !important;
    height: 0px !important;
  }

  .mat-expansion-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.mdc-button {
    @include small-dropdown-box;
    min-width: 24px !important;

    .mat-icon {
      margin: 0 !important;
      height: 9px !important;
      width: 20px !important;
      align-items: center !important;
      justify-content: center !important;
      display: flex !important;
      font-size: 13px !important;
      color: var.$gray-1100 !important;
    }
  }

  .mdc-list-item {
    padding-left: 0 !important;
  }

  .activities-label {
    margin: 0 !important;

    p {
      margin-left: 14px;
      @include text-model(var.$font-12, 400, var.$gray-1200, Barlow, 24px);
    }
  }

  .mat-badge-content {
    left: 16px !important;
    background-color: var.$gray-1600 !important;
    @include text-model(var.$font-12, 700, var.$gray-1500, Barlow, 14.4px);
  }
}

.mdc-radio__outer-circle {
  border-width: 1px !important;
  border-color: var.$gray-1400;
}

.no_of_emp_1st_section {
  display: flex;
}

.emp_input_label {
  text-align: right;
}

.country-code {
  font-size: 12px;
  font-family: "Barlow";
  width: 17px;
  // height: 14px;
}

.create-user-form,
.square_input_box {
  .mat-mdc-form-field-infix {
    width: 100%;
  }
}

.square_input_box {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
      justify-content: center !important;
      // height: 40px;
      // width: 56px;
      width: 4.375vw;
      height: 3.125vw;
    }
  }
}

@mixin app-dropdown($height: 40px) {
  .app-dropdown {
    .mat-mdc-text-field-wrapper {
      background-color: var.$blue-light-200 !important;
      border-radius: 3px !important;
      //border: 1px solid var.$blue-light-200 !important;
      height: $height !important;
      align-items: center;
    }

    .mat-mdc-select-arrow svg {
      top: -137%;
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: 0;
      width: 93%;
    }
  }
}

@mixin app-dropdown-1($height: 40px, $width) {
  .app-dropdown {
    .mat-mdc-text-field-wrapper {
      background-color: var.$blue-light-200 !important;
      border-radius: 3px !important;
      //border: 1px solid var.$blue-light-200 !important;
      min-width: $width;
      height: $height !important;
      align-items: center;
    }

    .mat-mdc-select-arrow svg {
      top: -137%;
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: 0;
    }
  }
}

@mixin app-dropdown-fixed-width($height: 40px, $width) {
  .app-dropdown {
    .mat-mdc-text-field-wrapper {
      background-color: var.$gray-800 !important;
      border-radius: 3px !important;
      //border: 1px solid var.$blue-light-200 !important;
      width: $width;
      height: $height !important;
      align-items: center;
    }

    .mat-mdc-select-arrow svg {
      top: -137%;
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: 0;
      width: 93%;
    }
  }
}

@mixin dropdown-label($mb: 0px) {
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: $mb;
}

.bg-dropdown-white {
  @include app-dropdown(56px);

  .dropdown-label {
    @include dropdown-label();
    // todo set the svg ofdropdown at right position
  }

  .mat-mdc-text-field-wrapper {
    @include gray-input-box;
    background-color: var.$gray-800;
    // width: 88px;
    height: 56px;
    //margin-left: 15px;
  }

  .mat-mdc-select-arrow-wrapper {
    display: none !important;
  }
}

.bg-dropdown {
  @include app-dropdown(56px);

  .dropdown-label {
    @include dropdown-label();
    // todo set the svg ofdropdown at right position
  }
}

.bg-dropdown-business-card {
  @include app-dropdown-1(56px, 224px); //to do make this responsive

  .dropdown-label {
    @include dropdown-label();
    // todo set the svg ofdropdown at right position
  }
}

.bg-dropdown-register {
  // @include app-dropdown-fixed-width(56px, 296px); //to do make this responsive
  @include app-dropdown-fixed-width(56px, 100%); //to do make this responsive

  .dropdown-label {
    @include dropdown-label();
    // todo set the svg ofdropdown at right position
  }
}

.dropdown-label {
  @include dropdown-label(20px);
  // todo set the svg ofdropdown at right position
}

@include app-dropdown();

.conuntry-dropdown {
  .mat-mdc-text-field-wrapper {
    background-color: var.$blue-light-200 !important;
    border-radius: 3px !important;
    border: 1px solid var.$blue-light-200 !important;
    height: 56px !important;
  }
}

.small-dropdown-container {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  //border: 1px solid var.$gray-1100;
  cursor: pointer;
}

.divider {
  width: 100%;
  /* Adjust the width as needed */
  border: 1px solid rgba(214, 214, 214, 1);
}

.w-240px {
  width: 18.75vw;
}

.pe-0 {
  padding-right: 0;
}

.d-none {
  display: none;
}

.down_arrow {
  font-size: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.br-5 {
  border-radius: 5px;
}

.mat-mdc-form-field-infix {
  position: absolute !important;
  top: 50%;
  transform: translate(0, -50%);
}

.pr-0 {
  padding-right: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.field-container {
  display: flex !important;
}

.field-serial-no {
  margin-right: 35px;
  margin-left: 11px;
}

.phn-section {
  width: 100%; // todo change it to 100% and adjust rest of the styles accordingly
}

.mat-dialog-actions-container {
  padding: 0px 24px !important;
  margin-left: 50px !important;
}

.square_input_box {
  .mat-mdc-input-element {
    text-align: center;
  }
}

.example-container table th {
  background-color: rgba(120, 106, 205, 0.16) !important;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: left;
  width: 40px;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 5px !important;
}

.example-container table tr > th {
  width: 100px;
}

.example-container table tr > th:first-child {
  width: 14px;
}

.example-container table tr > th:nth-child(2) {
  width: 50px;
}

.example-container table tr > th:nth-child(3) {
  width: 50px;
}

.example-container table tr > td:nth-child(2) {
  width: 50px;
}

.example-container table tr > td:nth-child(3) {
  width: 50px;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
  background: white;
}

.mat-column-serialNumber {
  width: 10px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family: Barlow;
}

.mat-column-lawName {
  width: 20px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family: Barlow;
}

.mat-column-applicability {
  padding-left: 0px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family: Barlow;
  text-align: center;
}

.mat-column-applicability {
  padding-left: 0px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  font-family: Barlow;
}

.applicability-text {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
  font-family: Barlow;
  text-align: center;
}

.applicability-text-serial-no {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
  font-family: Barlow;
  text-align: left;
}

.read-with-button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-body2-font-family,
    var(--mdc-typography-font-family, Barlow)
  );
  font-size: var(--mdc-typography-body2-font-size, 12px);
  line-height: var(--mdc-typography-body2-line-height, 14.4px);
  font-weight: var(--mdc-typography-body2-font-weight, 400);
  letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
  -webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
  text-decoration: underline;
  text-transform: var(--mdc-typography-body2-text-transform, none);
}

.applicability_icon_container {
  display: flex;
  justify-content: center;
}

.applicability-icon {
  width: 19px;
}

.text-center {
  text-align: center !important;
}

.flag-image-new-user {
  // width: 32px;
  // height: 24px;
  width: 2.343vw;
  height: 1.756vw;
  margin-right: 1rem;
}

//=================== reg field =============//

.reg-field {
  .mat-mdc-text-field-wrapper {
    height: calc(
      var(--base-unit-large) * var(--scale-factor-button-height)
    ) !important;
    width: calc(
      var(--base-unit-large) * var(--reg-form-field-scale)
    ) !important;
    border-radius: 5px;
    // border: 1px solid var.$gray-700;
    background-color: var.$gray-800;
  }
}

@media (max-width: 1279px) {
  .flag-image-new-user {
    width: 2.5vw;
    height: 1.875vw;
  }
}

@media (max-width: 2560px) and (min-width: 1441px) {
  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: calc(
        var(--base-unit-large) * var(--scale-factor-button-height)
      ) !important;
      width: calc(
        var(--base-unit-large) * var(--reg-form-field-scale)
      ) !important;
    }
  }
}

@media (max-width: 1440px) and (min-width: 1281px) {
  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: calc(
        var(--base-unit-large1) * var(--scale-factor-button-height)
      ) !important;

      width: calc(
        var(--base-unit-large1) * var(--reg-form-field-scale)
      ) !important;
    }
  }
}

@media (width: 1280px) {
  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: 56px !important;
      width: calc(
        var(--base-unit-large) * var(--reg-form-field-scale)
      ) !important;
      // margin-left: calc(
      //   var(--base-unit-large) * var(--scale-margin-left)
      // ) !important;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: 56px !important;
      width: calc(
        var(--base-unit-medium1) * var(--reg-form-field-scale)
      ) !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .reg-field {
    .mat-mdc-text-field-wrapper {
      height: 56px !important;
      width: calc(
        var(--base-unit-medium) * var(--scale-factor-button-width)
      ) !important;
    }
  }
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-body1-font-family,
    var(--mdc-typography-font-family, Barlow)
  );
  font-size: var(--mdc-typography-body1-font-size, 12px);
  line-height: var(--mdc-typography-body1-line-height, 24px);
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  -webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: var(--mdc-typography-body1-text-transform, none);
}

// stepper component optimized
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
  align-items: flex-start;
  padding: 0%;
  margin-bottom: -32px;
}

.mat-step-icon {
  border-radius: 50%;
  height: 20px !important;
  width: 20px !important;
  flex-shrink: 0;
  position: relative;
}
